<div class="centered-content">

  <fieldset>
    <legend>
      Risk
    </legend>
    <div class="row">
        <div class="form-group col-md-3">
            <label for="DocumentSegment">Document Segment Code</label>
            <input name="DocumentSegment" disabled placeholder="Document Segment Code" type="text" class="form-control" [(ngModel)]="document.DocumentSegment">
          </div>
        <div class="form-group col-md-3">
            <label for="ProductDetail">Product Detail</label>
            <select name="ProductDetail" class="form-control" [(ngModel)]="riskForm.ProductDetailID" (change)="getProductDetailSubjectType(riskForm.ProductDetailID)">
              <option [ngValue]="undefined">Select</option>
              <option *ngFor="let detail of productDetails" [ngValue]="detail.ID">{{detail.SubjectTypeDesc}}</option>
            </select>
          </div>
   
      <div class="form-group col-md-3">
        <label for="SubjectTypeID">Subject Type </label>
        <select name="SubjectTypeID" class="form-control" [(ngModel)]="riskForm.ProductSubjectTypeID" >
          <option [ngValue]="undefined">Select</option>
          <option *ngFor="let subject of productDetailsSubjectTypes" [ngValue]="subject.ID" >{{subject.ID}}</option>
        </select>
      </div>
      <div class="form-group col-md-3">
          <label for="Serial">Serial</label>
          <input name="Serial"  placeholder="Serial" type="number" class="form-control" [(ngModel)]="riskForm.Serial">
        </div>
      

     
      </div>
      <div class="row">
          <div class="form-group col-md-3">
              <label for="Name">Name</label>
              <input name="Name"  placeholder="Name" type="text" class="form-control" [(ngModel)]="riskForm.Name">
            </div>
      <div class="form-group col-md-3">
          <label for="EffectiveDate">Effective Date <span class="help-block">*</span></label>
          <input  name="EffectiveDate" required placeholder="Effective Date" type="date" class="form-control" [ngModel]="riskForm.EffectiveDate | date:'yyyy-MM-dd'"
            (ngModelChange)="CheckIfLessThan($event)">
            <span  *ngIf="isLessThan">Effective Date Greater or Equal Document Effective Date </span>
        </div>
        <div class="form-group col-md-3">
          <label for="ExpiryDate">Expiry Date <span class="help-block">*</span></label>
          <input name="ExpiryDate" disabled required placeholder="Expiry Date" type="date" class="form-control" [ngModel]="riskForm.ExpiryDate | date:'yyyy-MM-dd'"
            (ngModelChange)="riskForm.ExpiryDate = $event">
           
        </div>
        <div class="form-group col-md-3">
            <label for="Suminsured">Sum Insured</label>
            <input name="Suminsured"  placeholder="Sum Insured" type="number" class="form-control" [(ngModel)]="riskForm.Suminsured" (change) ="calculateSumInsuredLc(riskForm.Suminsured,document.Exrate)" >
          </div>
        
  
    
      </div>
      <div class="row">
          <div class="form-group col-md-3">
              <label for="SuminsuredLC">Sum Insured LC</label>
              <input name="SuminsuredLC" disabled placeholder="Sum Insured LC" disabled type="number" class="form-control" [(ngModel)]="riskForm.SuminsuredLC">
            </div>
          <div class="form-group col-md-3" >
              <label for="SubjectTypeID">Parent Risk </label>
              <select name="SubjectTypeID" class="form-control" [(ngModel)]="riskForm.SubjectTypeID" >
                <option [ngValue]="undefined">Select</option>
                <option *ngFor="let subject of productDetailsSubjectTypes" [ngValue]="subject.ID" disabled>{{subject.SubjectTypeDesc}}</option>
              </select>
            </div>
        
            <div class="form-group col-md-3">
                <label for="Description">Description</label>
                <textarea rows="1" name="Description" placeholder="Description" type="text" class="form-control" [(ngModel)]="riskForm.Description"  ></textarea>
              </div>
          <div class="form-group col-md-3">
            <label for="MinExcessAmount">Minmum Excess Amount</label>
            <input name="MinExcessAmount" placeholder="Minmum Excess Amount" type="number" class="form-control" [(ngModel)]="riskForm.MinExcessAmount"  >
          </div>

       
          </div>  <div class="row">
              <div class="form-group col-md-3">
                  <label for="MaxExcessAmount">Max Excess Amount</label>
                  <input name="MaxExcessAmount" placeholder="Max Excess Amount" type="number" class="form-control" [(ngModel)]="riskForm.MaxExcessAmount"  >
                </div>
            <div class="form-group col-md-3">
            <label for="ReferenceNo">Reference NO</label>
            <textarea rows="1" name="ReferenceNo" placeholder="Reference No" type="text" class="form-control" [(ngModel)]="riskForm.ReferenceNo"  ></textarea>
          </div>
        </div>
      
        <div *ngFor="let item of productDynamicCategoriesRisk">
          <app-dynamic-component [category]="item" ></app-dynamic-component>
        </div>
      <!--  <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  More Details
                </mat-panel-title>
              </mat-expansion-panel-header>
            
              <div class="row">
                <div class="form-group col-md-3">
                  <label for="UwDocumentID">Under Writing Document ID</label>
                  <input name="UwDocumentID" placeholder="Under Writing Document ID" 
                  type="number" class="form-control" disabled [(ngModel)]="riskForm.UwDocumentID" >
                </div>
      
                <div class="form-group col-md-3">
                    <label for="NetPremium">Net Premium</label>
                    <input name="NetPremium" disabled placeholder="Net Premium" type="number" class="form-control" [(ngModel)]="riskForm.NetPremium"  >
                  </div>
        
                  <div class="form-group col-md-3">
                      <label for="NetPremiumLc">Net Premium LC</label>
                      <input name="NetPremiumLc"disabled placeholder="Net Premium LC" type="number" class="form-control" [(ngModel)]="riskForm.NetPremiumLc"  >
                    </div>
                    <div class="form-group col-md-3">
                        <label for="GrossPremium">Gross Premium</label>
                        <input name="GrossPremium" disabled placeholder="Gross Premium" type="number" class="form-control" [(ngModel)]="riskForm.GrossPremium"  >
                      </div>
              </div>
              <div class="row">
                  <div class="form-group col-md-3">
                      <label for="GrossPremiumLc">Gross Premium LC</label>
                      <input name="GrossPremiumLc" disabled placeholder="Gross Premium LC" type="number" class="form-control" [(ngModel)]="riskForm.GrossPremiumLc"  >
                    </div>
      
                    <div class="form-group col-md-3">
                        <label for="CreatedBy">Created By</label>
                        <input name="CreatedBy" disabled placeholder="Created By" type="text" class="form-control" [(ngModel)]="riskForm.CreatedBy">
                      </div>

                      <div class="form-group col-md-3">
                            <label for="CreationDate">Creation Date <span class="help-block">*</span></label>
                            <input name="CreationDate" disabled required placeholder="Creation Date" type="date" class="form-control" [ngModel]="riskForm.CreationDate | date:'yyyy-MM-dd'"
                              (ngModelChange)="riskForm.CreationDate = $event">
                          </div>
                      <div class="form-group col-md-3">
                            <label for="ModifiedBy">Modified By</label>
                            <input name="ModifiedBy" disabled placeholder="Modified By" type="text" class="form-control" [(ngModel)]="riskForm.ModifiedBy">
                          </div>
                        </div>
                        <div class="row">
                          <div class="form-group col-md-3">
                                <label for="ModificationDate">Modification Date <span class="help-block">*</span></label>
                                <input name="ModificationDate" disabled required placeholder="Modification Date" type="date" class="form-control" [ngModel]="riskForm.ModificationDate | date:'yyyy-MM-dd'"
                                  (ngModelChange)="riskForm.ModificationDate = $event">
                              </div>
                
                      
              </div>
         
             
            </mat-expansion-panel>
          </mat-accordion>-->
          <div class="col-md-12 text-right">
              <div class="btn-group">
                <br>
               
                <input class="btn btn-primary" type="submit" value="Add Risk" (click)="addRisk(riskForm)" />

        </div> </div>
        
          
  
    <br>
    <br>
    <br>
    <br>
    <div class="x" *ngIf="risks.length > 0">

        <table mat-table #table [dataSource]="RiskDataSource" matSort>
        
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td style="width: 5%" mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="ProductDetail">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Detail ID</th>
            <td style="width: 5%" mat-cell *matCellDef="let element"> {{element.ProductDetailID}}
            </td>
          </ng-container>

          <ng-container matColumnDef="SubjectType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Subject Type</th>
            <td style="width: 10%" mat-cell *matCellDef="let element">
              {{element.ProductSubjectTypeID}} </td>
          </ng-container>

          <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td style="width: 15%" mat-cell *matCellDef="let element"> {{element.Name}}
            </td>
          </ng-container>

          <ng-container matColumnDef="EffectiveDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Effective Date</th>
            <td style="width: 15%" mat-cell *matCellDef="let element">
              {{element.EffectiveDate | date}} </td>
          </ng-container>

          <ng-container matColumnDef="ExpiryDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Expiry Date </th>
            <td style="width: 10%" mat-cell *matCellDef="let element">
              {{element.ExpiryDate | date}} </td>
          </ng-container>

          <ng-container matColumnDef="ParentRisk">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Parent Risk </th>
            <td style="width: 10%" mat-cell *matCellDef="let element">
              {{element.SubjectTypeID}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td style="width: 10%" mat-cell  *matCellDef="let element;  let i = index">
              <i (click)="updateRisk(element,i)" class="fa fa-edit" placement="left" ngbTooltip="Edit"></i>
              <i (click)="$event.stopPropagation()" class="fa fa-remove" mwlConfirmationPopover
                [popoverTitle]="'Confirm'" [popoverMessage]="'are you sure to delete?'" placement="left"
                (confirm)="deleteRisk(i)" ngbTooltip="Delete"></i>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="RiskTableColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: RiskTableColumns;" (click)="updateRisk(row)" class=" mat-row {{riskForm.ProductDetailID===row.ProductDetailID?'active':'not-active'}}"></tr>

        </table>
   
     
    </div>
    <div class="row">
    <div class="col-md-12 text-right">
        <div class="btn-group">
          <br>
         
        
       
    <input  *ngIf="risks.length> 0" class="btn btn-primary" type="submit" value="submit" (click)="submit()" /></div>
  </div></div>   <br>  <br> <div class="row"></div>
  
</fieldset>
</div>