<div class="wrapper wrapper-content animated fadeInRight">

  <div class="row">
    <div class="col-md-12">
      <div class="tabs-container">

        <div class="panel-body">

          <fieldset>
            <legend>
              Risk
            </legend>
            <div class="row">
              <div class="form-group col-md-3">
                <label for="DocumentSegment">Document Segment Code</label>
                <input name="DocumentSegment" disabled placeholder="Document Segment Code" type="text" class="form-control"
                  [(ngModel)]="document.DocumentSegment">
              </div>
              <div class="form-group col-md-3">
                <label for="ProductDetail">Product Detail</label>
                <select name="ProductDetail" class="form-control" [(ngModel)]="riskForm.ProductDetailID" (change)="getProductDetailSubjectType(riskForm.ProductDetailID)">
                  <option [ngValue]="undefined">Select</option>
                  <option *ngFor="let detail of productDetails" [ngValue]="detail.ID">{{detail.SubLineDesc}}</option>
                </select>
              </div>

              <div class="form-group col-md-3">
                <label for="SubjectTypeID">Subject Type </label>
                <select name="SubjectTypeID" class="form-control" [(ngModel)]="riskForm.ProductSubjectTypeID">
                  <option [ngValue]="undefined">Select</option>
                  <option *ngFor="let subject of productDetailsSubjectTypes" [ngValue]="subject.ID">{{subject.SubjectTypeDesc}}</option>
                </select>
              </div>
              <div class="form-group col-md-3">
                <label for="Serial">Serial</label>
                <input name="Serial" placeholder="Serial" type="number" class="form-control" [(ngModel)]="riskForm.Serial">
              </div>



            </div>
            <div class="row">
              <div class="form-group col-md-3">
                <label for="Name">Name</label>
                <input name="Name" placeholder="Name" type="text" class="form-control" [(ngModel)]="riskForm.Name">
              </div>
              <div class="form-group col-md-3">
                <label for="EffectiveDate">Effective Date <span class="help-block">*</span></label>
                <input name="EffectiveDate" required placeholder="Effective Date" bsDatepicker class="form-control"
                  [ngModel]="riskForm.EffectiveDate">
                <span *ngIf="isLessThan">Effective Date Greater or Equal Document Effective Date </span>
              </div>
              <div class="form-group col-md-3">
                <label for="ExpiryDate">Expiry Date <span class="help-block">*</span></label>
                <input name="ExpiryDate" disabled required placeholder="Expiry Date" bsDatepicker class="form-control"
                  [ngModel]="riskForm.ExpiryDate">

              </div>
              <div class="form-group col-md-3">
                <label for="Suminsured">Sum Insured</label>
                <input name="Suminsured" placeholder="Sum Insured" type="number" class="form-control" [(ngModel)]="riskForm.Suminsured"
                  (change)="calculateSumInsuredLc(riskForm.Suminsured,document.Exrate)">
              </div>



            </div>
            <div class="row">
              <div class="form-group col-md-3">
                <label for="SuminsuredLC">Sum Insured LC</label>
                <input name="SuminsuredLC" disabled placeholder="Sum Insured LC" disabled type="number" class="form-control"
                  [(ngModel)]="riskForm.SuminsuredLC">
              </div>
              <div class="form-group col-md-3">
                <label for="SubjectTypeID">Parent Risk </label>
                <select name="SubjectTypeID" class="form-control" [(ngModel)]="riskForm.SubjectTypeID">
                  <option [ngValue]="undefined">Select</option>
                  <option *ngFor="let subject of productDetailsSubjectTypes" [ngValue]="subject.ID" disabled>{{subject.SubjectTypeDesc}}</option>
                </select>
              </div>

              <div class="form-group col-md-3">
                <label for="Description">Description</label>
                <textarea rows="1" name="Description" placeholder="Description" type="text" class="form-control"
                  [(ngModel)]="riskForm.Description"></textarea>
              </div>
              <div class="form-group col-md-3">
                <label for="MinExcessAmount">Minmum Excess Amount</label>
                <input name="MinExcessAmount" placeholder="Minmum Excess Amount" type="number" class="form-control"
                  [(ngModel)]="riskForm.MinExcessAmount">
              </div>


            </div>
            <div class="row">
              <div class="form-group col-md-3">
                <label for="MaxExcessAmount">Max Excess Amount</label>
                <input name="MaxExcessAmount" placeholder="Max Excess Amount" type="number" class="form-control"
                  [(ngModel)]="riskForm.MaxExcessAmount">
              </div>
              <div class="form-group col-md-3">
                <label for="ReferenceNo">Reference NO</label>
                <textarea rows="1" name="ReferenceNo" placeholder="Reference No" type="text" class="form-control"
                  [(ngModel)]="riskForm.ReferenceNo"></textarea>
              </div>
            </div>



            <div class="col-md-12 text-right">
              <div class="btn-group">
                <br>

                <input class="btn btn-primary" type="submit" value="Add Risk" *ngIf="!riskForm.selected" (click)="addRisk(riskForm)" />
                <input class="btn btn-primary" type="submit" value="update Risk" *ngIf="riskForm.selected" (click)="updateSelectedRisk(riskForm)" />
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div *ngFor="let item of productDynamicCategories | orderBy: order ">
              <div *ngIf="item.IsMulitRecords === 0">
                <app-dynamic-component [category]="item" [updateModeForNotMultiRecord]="updateMode"></app-dynamic-component>
              </div>
            </div>
          </fieldset>

          <br>
          <br>
          <br>
          <mat-tab-group [selectedIndex]="0" (selectedIndexChange)="selected.setValue($event)" *ngIf="hasValue">
            <mat-tab label="Risks" *ngIf="risks.length > 0">
              <div class="x" *ngIf="risks.length > 0">

                <table mat-table #table [dataSource]="RiskDataSource" matSort>

                  <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                      </mat-checkbox>
                    </th>
                    <td style="width: 5%" mat-cell *matCellDef="let row">
                      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
                      </mat-checkbox>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="ProductDetail">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Detail ID</th>
                    <td style="width: 5%" mat-cell *matCellDef="let element"> {{element.ProductDetailID}}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="SubjectType">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Subject Type</th>
                    <td style="width: 10%" mat-cell *matCellDef="let element">
                      {{element.ProductSubjectTypeID}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                    <td style="width: 15%" mat-cell *matCellDef="let element"> {{element.Name}}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="EffectiveDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Effective Date</th>
                    <td style="width: 15%" mat-cell *matCellDef="let element">
                      {{element.EffectiveDate | date}} </td>
                  </ng-container>

                  <ng-container matColumnDef="ExpiryDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Expiry Date </th>
                    <td style="width: 10%" mat-cell *matCellDef="let element">
                      {{element.ExpiryDate | date}} </td>
                  </ng-container>

                  <ng-container matColumnDef="ParentRisk">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Parent Risk </th>
                    <td style="width: 10%" mat-cell *matCellDef="let element">
                      {{element.SubjectTypeID}} </td>
                  </ng-container>

                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td style="width: 10%" mat-cell *matCellDef="let element;  let i = index">
                      <i (click)="updateRisk(element,i)" class="fa fa-edit" placement="left" ngbTooltip="Edit"></i>
                      <i (click)="$event.stopPropagation()" class="fa fa-remove" mwlConfirmationPopover [popoverTitle]="'Confirm'"
                        [popoverMessage]="'are you sure to delete?'" placement="left" (confirm)="deleteRisk(i)"
                        ngbTooltip="Delete"></i>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="RiskTableColumns"></tr><!--class=" mat-row {{riskForm?.ID===row?.ID?'active':'not-active'}}"-->
                  <tr mat-row *matRowDef="let row; columns: RiskTableColumns; let i = index" (click)="updateRisk(row , i)" class=" mat-row "></tr>

                </table>


              </div>
              <div class="row">
                <div class="col-md-12 text-right">
                  <div class="btn-group">
                    <br>



                    <input *ngIf="risks.length> 0" class="btn btn-primary" type="submit" value="submit" (click)="submit()" />
                    <button class="btn btn-primary" (click)="nextClick()" *ngIf="updateMode">Next </button>
                  </div>
                   
                </div>
              </div> <br> <br>
              <div class="row"></div>


            </mat-tab> <!-- "-->
            <mat-tab label="Document Attachments" *ngIf="documentAttachments.length > 0">
              <div class="col-md-12">
                <form [formGroup]="attachmentForm">
                  <div class="row">
                    <div class="form-group col-md-3">
                      <label for="Attachments">Attachments</label>
                      <mat-select placeholder="" class="form-control" formControlName="attachments" multiple>
                        <mat-option #allSelected (onSelectionChange)="toggleAllSelection()" [value]="f.defaultSelect.value "
                          [disabled]="f.enableMultiSelect.value">Select All</mat-option>
                        <mat-option *ngFor="let attach of f.attachmetValues.value; let index = elementIndex" [value]="attach"
                          [disabled]="disabled">{{attach.Name}}</mat-option>
                      </mat-select>
                    </div>
                    <div class="form-group col-md-3">
                      <label for="Remarks">Remarks</label>
                      <textarea rows="1" formControlName="Remarks" placeholder="Remarks" type="text" class="form-control"></textarea>
                    </div>
                    <div class="form-group col-md-3">
                      <label for="IsReceived">Attachment Received</label>
                      <mat-checkbox formControlName="IsReceived" class="form-control">Is Received</mat-checkbox>
                    </div>
                  </div>


                  <div class="row">

                    <div class="form-group col-md-4">
                      <label for="countryFlag">File</label>

                      <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                        <div class="form-control" data-trigger="fileinput">

                          <span class="fileinput-filename" *ngIf="false">
                            <i class="glyphicon glyphicon-file fileinput-exists"></i>

                          </span>
                        </div>

                        <span class="input-group-addon btn btn-default btn-file">
                          <label for="FLAG" class="custom-file-upload">
                            <i class="fa fa-cloud-upload"></i> Upload
                          </label>

                        </span>
                        <input id="FLAG" name="Flag" type="file" (change)="onFileChanged($event)">
                        <a class="input-group-addon btn btn-default fileinput-exists" onclick="this.value = null"
                          data-dismiss="fileinput" *ngIf="f.File.value" (click)="removeFile()">Remove</a>
                      </div>
                    </div>
                    <div class="form-group col-md-4" *ngIf="previewLink !== ''">
                      <a target="_blank" href="{{previewLink}}">preview</a>
                    </div>
                  </div>
                  <div class="col-md-12 text-right">
                    <div class="btn-group">
                      <button class="btn btn-primary" (click)="AddAttachment()">Save</button>

                    </div>
                  </div>
                </form>
                <app-generictable *ngIf="documentAttachments.length > 0" #tableSelector [tableColumns]='attachmentTableColumn'
                  [DataSource]='documentAttachments' (update)='updateAttachment($event)' (delete)='deleteAttachment($event)'></app-generictable>
              </div>
            </mat-tab>
            <mat-tab *ngFor="let item of productDynamicCategoriesMultiRecord | orderBy: order; let index = index" label="{{item.Lable}}">
              <div class="col-md-12">
                <app-dynamic-component [category]="item"></app-dynamic-component>
              </div>
            </mat-tab>
          </mat-tab-group>



        </div>
      </div>
    </div>
  </div>
</div>