<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
</mat-form-field>
<div class="x">
  <div class="table-container">
    <table mat-table #table [dataSource]="dataSource" matSort>

      <ng-container *ngFor="let column of tableColumns; index as i" [cdkColumnDef]="column">

        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox *ngIf="column===select" (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"> </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let element"> {{element[i]}}
          <mat-checkbox *ngIf="column===select" (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(element) : null"
            [checked]="selection.isSelected(element)">
          </mat-checkbox>
        </td>



      </ng-container>



      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td style="width: 20%" mat-cell *matCellDef="let element">
          <i (click)="update(element)" class="fa fa-edit" placement="left" ngbTooltip="Edit"></i>
          <i (click)="$event.stopPropagation()" class="fa fa-remove" mwlConfirmationPopover [popoverTitle]="'Confirm'"
            [popoverMessage]="'are you sure to delete?'" placement="left" (confirm)="delete(element)" ngbTooltip="Delete"></i>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: tableColumns;" (click)="update(row)" class=" mat-row {{column===row?'active':'not-active'}}"></tr>

    </table>
  </div>
  <mat-paginator #paginator [pageSizeOptions]="[10, 20, 30 ,40,50]" [showFirstLastButtons]="true"></mat-paginator>

</div>
