<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-10">
    <!-- <h2>{{formControls.Name}}</h2> -->
    <h2>Lockups And Currency</h2>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li>
        <a>Organizations</a>
      </li>
      <li class="active">
        <strong>Lockups And Currency</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-2">
    <div class="title-action">
      <!-- <a ui-sref="pages.edit-form({id:formControls.id})" class="btn btn-primary">Edit This form</a> -->
    </div>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

  <div class="row">
    <div class="col-md-12">

      <div class="tabs-container">
        <div class="panel-body">


          <br>

          <mat-tab-group (selectedTabChange)="changeTab($event)">
            <mat-tab label="Major Codes ">
              <div class="col-md-12">
                <fieldset>
                  <legend>
                    Major Code
                  </legend>
                  <form #form="ngForm" (ngSubmit)="saveMajorCode(form)" class="{{submit?'submited':''}}">
                    <div class="row">
                      <div class="form-group col-md-3">
                        <label for="MajorCode(">Major Code<span class="help-block">*</span></label>
                        <input name="MajorCode" placeholder="Major Code" type="text" class="form-control" [(ngModel)]="majorCodeForm.MajorCode"
                          required>
                      </div>
                      <div class="form-group col-md-3">
                        <label for="Name">Name <span class="help-block">*</span></label>
                        <input name="Name" placeholder="Name" type="text" class="form-control" [(ngModel)]="majorCodeForm.Name"
                          required>
                      </div>
                      <div class="form-group col-md-3">
                        <label for="Name2">Name 2</label>
                        <input name="Name2" placeholder="Name 2" type="text" class="form-control" [(ngModel)]="majorCodeForm.Name2">
                      </div>
                      <div class="form-group col-md-3">
                        <label for="ReferenceNo">Reference No</label>
                        <input name="ReferenceNo" placeholder="Reference No" type="text" class="form-control"
                          [(ngModel)]="majorCodeForm.ReferenceNo">
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-md-3">
                        <label for="LockUpID">Parent Code</label>
                        <select name="LockUpID" class="form-control" [(ngModel)]="majorCodeForm.LockUpID">
                          <option [ngValue]="undefined">Select</option>
                          <option *ngFor="let parentCode of majorCodes" [ngValue]="parentCode.ID">{{parentCode.Name}}</option>
                        </select>
                      </div>

                      <div class="col-md-7 text-right">
                        <br>
                        <br>
                        <div class="btn-group">
                          <input class="btn btn-default" type="reset" (click)="resetForm(form)"
                            value="Reset" />
                          <input class="btn btn-primary" type="submit" value="Save" (click)="submit=true" />
                        </div>
                      </div>
                    </div>
                  </form>
                </fieldset>

                <div class="hr-line-dashed"></div>

                <div class="html5buttons">
                  <br>
                  <div class="dt-buttons btn-group">
                    <button class="btn btn-default" [disabled]="!selection.hasValue()" mwlConfirmationPopover
                      [popoverTitle]="'Confirm'" [popoverMessage]="'are you sure to delete?'" placement="bottom"
                      (confirm)="deleteSelectedData()" ngbTooltip="Delete">
                      <img src="assets/images/Trash-can.png"></button>
                    <a class="btn btn-default buttons-csv buttons-html5" (click)="export('csv','Majorcode')" placement="bottom"
                      ngbTooltip="Export to CSV"><span>
                        <img src="assets/images/csv.jpg"></span></a>
                    <a class="btn btn-default buttons-excel buttons-html5" (click)="export('excel','Majorcode')"
                      placement="bottom" ngbTooltip="Export to Excel"><span><img src="assets/images/ExcelLogoSmall.scale-80.png"></span></a>
                    <a class="btn btn-default buttons-pdf buttons-html5" (click)="export('pdf','Majorcode')" placement="bottom"
                      ngbTooltip="Export to PDF"><span><img src="assets/images/pdf.jpg"></span></a>
                    <a class="btn btn-default buttons-print" placement="bottom" ngbTooltip="Print Data"><span><img src="assets/images/print.jpg"></span></a>
                  </div>
                </div>
                <br>
                <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                </mat-form-field>
                <div class="x">
                  <div class="table-container">

                    <table mat-table #table [dataSource]="majorCodesDataSource" matSort>
                      <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                          </mat-checkbox>
                        </th>
                        <td style="width: 5%" mat-cell *matCellDef="let row">
                          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)">
                          </mat-checkbox>
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="ID">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                        <td style="width: 5%" mat-cell *matCellDef="let element"> {{element.ID}}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="MAJOR_CODE">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
                        <td style="width: 10%" mat-cell *matCellDef="let element">
                          {{element.MajorCode}} </td>
                      </ng-container>

                      <ng-container matColumnDef="NAME">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                        <td style="width: 15%" mat-cell *matCellDef="let element"> {{element.Name}}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="NAME2">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name2</th>
                        <td style="width: 15%" mat-cell *matCellDef="let element">
                          {{element.Name2}} </td>
                      </ng-container>
                      <ng-container matColumnDef="ST_LOCKUP_ID">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Parent Code</th>
                        <td style="width: 15%" mat-cell *matCellDef="let element">
                          {{getMajorCodeName(element.LockUpID)}} </td>
                      </ng-container>



                      <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Actions</th>
                        <td style="width: 10%" mat-cell *matCellDef="let element">
                          <i (click)="updateMajorCode(element)" class="fa fa-edit" placement="left" ngbTooltip="Edit"></i>
                          <i (click)="$event.stopPropagation()" class="fa fa-remove" mwlConfirmationPopover
                            [popoverTitle]="'Confirm'" [popoverMessage]="'are you sure to delete?'" placement="left"
                            (confirm)="deleteMajorCode(element.ID)" ngbTooltip="Delete"></i>
                        </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="majorCodeTableColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: majorCodeTableColumns;" (click)="updateMajorCode(row)"
                        class=" mat-row {{majorCodeForm.ID===row.ID?'active':'not-active'}}"></tr>

                    </table>
                  </div>
                  <mat-paginator #paginator [pageSizeOptions]="[10, 20, 30 ,40,50]" [showFirstLastButtons]="true"></mat-paginator>

                </div>
              </div>

            </mat-tab>
            <mat-tab label="Minor Codes ">
              <div class="col-md-12">

                <div class="col-md-12 extra-form" *ngIf="extraForm==='minorCodes'">

                  <fieldset class="animated fadeInDown">
                    <legend>
                      Minor Code
                    </legend>
                    <form #form="ngForm" (ngSubmit)="saveMinorCode(form)" class="{{submit2?'submited':''}}">
                      <div class="row">

                        <div class="form-group col-md-3">
                          <label for="MajorCode">Major Code <span class="help-block">*</span></label>
                          <select name="MajorCode" class="form-control" [(ngModel)]="minorCodeForm.MajorCode" (change)="updateMajorCodeFromMinor(minorCodeForm.MajorCode)"
                            required>
                            <option [ngValue]="undefined">Select</option>
                            <option *ngFor="let majorCode of majorCodes" [ngValue]="majorCode.ID">{{majorCode.Name}}</option>
                          </select>
                        </div>

                        <div class="form-group col-md-3">
                          <label for="MinorCode"> Minor Code</label>
                          <input name="MinorCode" placeholder=" Minor Code" type="number" class="form-control"
                            [(ngModel)]="minorCodeForm.MinorCode">
                        </div>

                        <div class="form-group col-md-3">
                          <label for="Name">Name <span class="help-block">*</span></label>
                          <input name="Name" placeholder="Name" type="text" class="form-control" [(ngModel)]="minorCodeForm.Name"
                            required>
                        </div>
                        <div class="form-group col-md-3">
                          <label for="Name2">Name 2</label>
                          <input name="Name2" placeholder="Name 2" type="text" class="form-control" [(ngModel)]="minorCodeForm.Name2">
                        </div>


                      </div>

                      <div class="row">

                        <div class="form-group col-md-3">
                          <label for="ReferenceNo">Reference No</label>
                          <input name="ReferenceNo" placeholder="Reference No" type="text" class="form-control"
                            [(ngModel)]="minorCodeForm.ReferenceNo">
                        </div>

                        <div class="form-group col-md-3">
                          <label for="LockUpID">Parent Code<span *ngIf='parentMinorCodes!==null' class="help-block">*</span></label>
                          <select name="LockUpID" class="form-control" [(ngModel)]="minorCodeForm.LockUpID" [required]='parentMinorCodes!==null'
                            [disabled]="parentMinorCodes===null">
                            <option value="">Select</option>
                            <!-- <option *ngFor="let majorCode of majorCodes" [ngValue]="majorCode.ID" 
                            [selected]="minorCodeForm.MAJOR_CODE==majorCode.ST_LOCKUP_ID">{{majorCode.NAME}}</option> -->

                            <ng-container *ngFor="let minorCode of parentMinorCodes">
                              <option *ngIf="minorCode.LockUpID || true" [ngValue]="minorCode.ID">{{minorCode.Name}}</option>
                            </ng-container>
                          </select>


                        </div>

                        <div class="col-md-6 text-right">
                          <br>
                          <br>
                          <input class="btn btn-default" type="reset" (click)="minorCodeForm={};submit2=false;resetForm(form)"
                            value="Reset" />
                          <input class="btn btn-primary" type="submit" value="Save" (click)="submit2=true" />
                        </div>
                      </div>
                    </form>
                  </fieldset>
                  <div class="hr-line-dashed"></div>

                </div>


                <div class="html5buttons">
                  <br>
                  <div class="dt-buttons btn-group">
                    <button class="btn btn-default" [disabled]="!selection2.hasValue()" mwlConfirmationPopover
                      [popoverTitle]="'Confirm'" [popoverMessage]="'are you sure to delete?'" placement="bottom"
                      (confirm)="deleteSelectedData()" ngbTooltip="Delete">
                      <img src="assets/images/Trash-can.png"></button>
                    <a class="btn btn-default buttons-csv buttons-html5" (click)="export('csv','minorcode')" placement="bottom"
                      ngbTooltip="Export to CSV"><span>
                        <img src="assets/images/csv.jpg"></span></a>
                    <a class="btn btn-default buttons-excel buttons-html5" (click)="export('excel','minorcode')"
                      placement="bottom" ngbTooltip="Export to Excel"><span><img src="assets/images/ExcelLogoSmall.scale-80.png"></span>
                    </a>
                    <a class="btn btn-default buttons-pdf buttons-html5" (click)="export('pdf','minorcode')" placement="bottom"
                      ngbTooltip="Export to PDF"><span><img src="assets/images/pdf.jpg"></span></a>
                    <a class="btn btn-default buttons-print" placement="bottom" ngbTooltip="Print Data"><span><img src="assets/images/print.jpg"></span></a>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-3">
                    <mat-form-field>
                      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field>
                      <mat-select placeholder="Major Code" (selectionChange)="reloadMinorCodeTable(minorCodeFilter);checkFilterMajorCodeParent(minorCodeFilter)"
                        [(ngModel)]="minorCodeFilter">
                        <mat-option [value]=""> All </mat-option>
                        <mat-option *ngFor="let majorCode of majorCodes" [value]="majorCode.ID">
                          {{majorCode.Name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field>
                      <mat-select placeholder="Parent Code" [disabled]="filterParentMinorCodes===null"
                        (selectionChange)="filterMinorCodeTableByParentMinorCode(parentMinorCodeFilter)" [(ngModel)]="parentMinorCodeFilter">
                        <mat-option [value]=""> All </mat-option>
                        <mat-option *ngFor="let minorCode of filterParentMinorCodes" [value]="minorCode.ID">
                          {{minorCode.Name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="x">
                  <div class="table-container">
                    <table mat-table #table2 [dataSource]="minorCodesDataSource" matSort>

                      <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                          <mat-checkbox (change)="$event ? masterToggle2() : null" [checked]="selection2.hasValue() && isAllSelected2()"
                            [indeterminate]="selection2.hasValue() && !isAllSelected2()">
                          </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection2.toggle(row) : null"
                            [checked]="selection2.isSelected(row)">
                          </mat-checkbox>
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="ID">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                        <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
                      </ng-container>
                      <ng-container matColumnDef="MINOR_CODE">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
                        <td style="width: 10%" mat-cell *matCellDef="let element">
                          {{element.MinorCode}} </td>
                      </ng-container>
                      <ng-container matColumnDef="MAJOR_CODE">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Major Code</th>
                        <td style="width: 20%" mat-cell *matCellDef="let element">
                          {{getMajorCodeName(element.MajorCode)}} </td>
                      </ng-container>
                      <ng-container matColumnDef="NAME">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                        <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
                      </ng-container>

                      <ng-container matColumnDef="NAME2">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name2</th>
                        <td mat-cell *matCellDef="let element"> {{element.Name2}} </td>
                      </ng-container>

                      <ng-container matColumnDef="ST_LOCKUP_ID">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Parent Code</th>
                        <td style="width: 15%" mat-cell *matCellDef="let element">
                          {{getMinorCodeName(element.LockUpID)}} </td>
                      </ng-container>

                      <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Actions</th>
                        <td mat-cell *matCellDef="let element">
                          <i (click)="updateMinorCode(element)" class="fa fa-edit" placement="left" ngbTooltip="Edit"></i>
                          <i (click)="$event.stopPropagation()" class="fa fa-remove" mwlConfirmationPopover
                            [popoverTitle]="'Confirm'" [popoverMessage]="'are you sure to delete?'" placement="left"
                            (confirm)="deleteMinorCode(element.ID)" ngbTooltip="Delete"></i>
                        </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="minorCodeTableColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: minorCodeTableColumns;" (click)="updateMinorCode(row)"
                        class=" mat-row {{minorCodeForm.ID===row.ID?'active':'not-active'}}"></tr>

                    </table>
                  </div>
                  <mat-paginator #paginator2 [pageSizeOptions]="[10, 20, 30 ,40,50]" [showFirstLastButtons]="true"></mat-paginator>
                </div>



              </div>
            </mat-tab>




            <mat-tab label="Currencies">
              <div class="col-md-12">

                <div class="col-md-12 extra-form" *ngIf="extraForm==='currencies'">

                  <fieldset class="animated fadeInDown">
                    <legend>
                      Currency
                    </legend>
                    <form #form="ngForm" (ngSubmit)="saveCurrency(form)" class="{{submit3?'submited':''}}">
                      <div class="row">
                        <div class="form-group col-md-3">
                          <label for="Code">Code</label>
                          <input name="Code" placeholder="Code" type="text" class="form-control" [(ngModel)]="currencyForm.Code">
                        </div>
                        <div class="form-group col-md-3">
                          <label for="Name">Name <span class="help-block">*</span></label>
                          <input name="Name" placeholder="Name" type="text" class="form-control" [(ngModel)]="currencyForm.Name"
                            required>
                        </div>
                        <div class="form-group col-md-3">
                          <label for="Name2">Name 2</label>
                          <input name="Name2" placeholder="Name 2" type="text" class="form-control" [(ngModel)]="currencyForm.Name2">
                        </div>

                        <div class="form-group col-md-3">
                          <label for="DecimalPlaces">Decimal Places <span class="help-block">*</span></label>
                          <input name="DecimalPlaces" placeholder="Decimal Places" type="number" class="form-control"
                            [(ngModel)]="currencyForm.DecimalPlaces" required>
                        </div>

                      </div>

                      <div class="row">

                        <div class="form-group col-md-3">
                          <label for="Sign">Sign <span class="help-block">*</span></label>
                          <input name="Sign" placeholder="Sign" type="text" class="form-control" [(ngModel)]="currencyForm.Sign"
                            required>
                        </div>

                        <div class="form-group col-md-3">
                          <label for="Status">Status <span class="help-block">*</span></label>
                          <select name="Status" placeholder="Status" class="form-control" [(ngModel)]="currencyForm.Status"
                            required>
                            <option [ngValue]="undefined">Select</option>
                            <option *ngFor="let status of LockUps" [ngValue]="status.ID">{{status.Name}}</option>

                          </select>
                        </div>
                        <div class="form-group col-md-3">
                          <label for="FractName">Fraction <span class="help-block">*</span></label>
                          <input name="FractName" placeholder="Fraction" type="text" class="form-control" [(ngModel)]="currencyForm.FractName"
                            required>
                        </div>
                        <div class="form-group col-md-3">
                          <label for="FractName2">Fraction 2<span class="help-block">*</span></label>
                          <input name="FractName2" placeholder="Fraction 2" type="text" class="form-control"
                            [(ngModel)]="currencyForm.FractName2" required>
                        </div>
                        <div class="col-md-12 text-right">
                          <br>
                          <br>
                          <input class="btn btn-default" type="reset" (click)="currencyForm={};submit3=false;resetForm(form)"
                            value="Reset" />
                          <input class="btn btn-primary" type="submit" value="Save" (click)="submit3=true" />
                        </div>
                      </div>
                    </form>
                  </fieldset>
                  <div class="hr-line-dashed"></div>

                </div>




                <div class="html5buttons">
                  <br>
                  <div class="dt-buttons btn-group">
                    <button class="btn btn-default" [disabled]="!selection3.hasValue()" mwlConfirmationPopover
                      [popoverTitle]="'Confirm'" [popoverMessage]="'are you sure to delete?'" placement="bottom"
                      (confirm)="deleteSelectedData()" ngbTooltip="Delete">
                      <img src="assets/images/Trash-can.png"></button>
                    <a class="btn btn-default buttons-csv buttons-html5" (click)="export('csv','Currency')" placement="bottom"
                      ngbTooltip="Export to CSV"><span>
                        <img src="assets/images/csv.jpg"></span></a>
                    <a class="btn btn-default buttons-excel buttons-html5" (click)="export('excel','Currency')"
                      placement="bottom" ngbTooltip="Export to Excel"><span><img src="assets/images/ExcelLogoSmall.scale-80.png"></span>
                    </a>
                    <a class="btn btn-default buttons-pdf buttons-html5" (click)="export('pdf','Currency')" placement="bottom"
                      ngbTooltip="Export to PDF"><span><img src="assets/images/pdf.jpg"></span></a>
                    <a class="btn btn-default buttons-print" placement="bottom" ngbTooltip="Print Data"><span><img src="assets/images/print.jpg"></span></a>
                  </div>
                </div>
                <div class="col-md-3">
                  <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                  </mat-form-field>
                </div>

                <div class="x">
                  <div class="table-container">
                    <table mat-table #table3 [dataSource]="currencyDataSource" matSort>

                      <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                          <mat-checkbox (change)="$event ? masterToggle3() : null" [checked]="selection3.hasValue() && isAllSelected3()"
                            [indeterminate]="selection3.hasValue() && !isAllSelected3()">
                          </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection3.toggle(row) : null"
                            [checked]="selection3.isSelected(row)">
                          </mat-checkbox>
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="CODE">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>CODE</th>
                        <td mat-cell *matCellDef="let element"> {{element.Code}} </td>
                      </ng-container>

                      <ng-container matColumnDef="NAME">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                        <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
                      </ng-container>

                      <ng-container matColumnDef="NAME2">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name2</th>
                        <td mat-cell *matCellDef="let element"> {{element.Name2}} </td>
                      </ng-container>



                      <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Actions</th>
                        <td mat-cell *matCellDef="let element">
                          <i (click)="updateCurrency(element)" class="fa fa-edit" placement="left" ngbTooltip="Edit"></i>
                          <i (click)="$event.stopPropagation()" class="fa fa-remove" mwlConfirmationPopover
                            [popoverTitle]="'Confirm'" [popoverMessage]="'are you sure to delete?'" placement="left"
                            (confirm)="deleteCurrency(element.Code)" ngbTooltip="Delete"></i>
                        </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="currencyTableColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: currencyTableColumns;" (click)="updateCurrency(row)"
                        class=" mat-row {{currencyForm.Code===row.Code?'active':'not-active'}}"></tr>

                    </table>
                  </div>
                  <mat-paginator #paginator2 [pageSizeOptions]="[10, 20, 30 ,40,50]" [showFirstLastButtons]="true"></mat-paginator>
                </div>



              </div>
            </mat-tab>


          </mat-tab-group>


        </div>


      </div>
    </div>

  </div>
</div>