<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-10">
    <!-- <h2>{{formControls.Name}}</h2> -->
    <h2>Products</h2>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li>
        <a>Products Setup</a>
      </li>
      <li class="active">
        <strong>Products</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-2">
    <div class="title-action">
      <!-- <a ui-sref="pages.edit-form({id:formControls.id})" class="btn btn-primary">Edit This form</a> -->
    </div>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

  <div class="row">
    <div class="col-md-12">

      <div class="tabs-container">
        <div class="panel-body">

          <fieldset>
            <legend>
              Product
            </legend>
            <form #form="ngForm" (ngSubmit)="saveProduct(form)" class="{{submit?'submited':''}}">
              <div class="row">
                <div class="form-group col-md-3">
                  <label for="Name">Name</label>
                  <input name="Name" placeholder="Name" type="text" class="form-control" [(ngModel)]="productForm.Name">
                </div>

                <div class="form-group col-md-3">
                  <label for="Name2">Name2 <span class="help-block">*</span></label>
                  <input name="Name2" placeholder="Name2" type="text" class="form-control" [(ngModel)]="productForm.Name2"
                    required>
                </div>
                <div class="form-group col-md-3">
                  <label for="ProductCode">Product Code</label>
                  <input name="ProductCode" placeholder="ProductCode" type="text" class="form-control" [(ngModel)]="productForm.ProductCode">
                </div>
                <div class="form-group col-md-3">
                  <label for="ProductCode">Product Code</label>
                  <input name="ProductCode" placeholder="ProductCode" type="text" class="form-control" [(ngModel)]="productForm.ProductCode">
                </div>

              </div>

              <div class="row">

                <div class="form-group col-md-3">
                  <label for="EffectiveDate">Effective Date <span class="help-block">*</span></label>
                  <input name="EffectiveDate" required placeholder="Effective Date" type="date" class="form-control"
                    [ngModel]="productForm.EffectiveDate | date:'yyyy-MM-dd'" (ngModelChange)="productForm.EffectiveDate = $event">
                </div>

                <div class="form-group col-md-3">
                  <label for="ExpiryDate">Expiry Date <span class="help-block">*</span></label>
                  <input name="ExpiryDate" required placeholder="Expiry Date" type="date" class="form-control"
                    [ngModel]="productForm.ExpiryDate  | date:'yyyy-MM-dd'" (ngModelChange)="productForm.ExpiryDate = $event">
                </div>


                <div class="form-group col-md-3">
                  <label for="Picture">Picture</label>

                  <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                    <div class="form-control" data-trigger="fileinput">
                      <span class="fileinput-filename">
                        <i class="glyphicon glyphicon-file fileinput-exists"></i>
                        {{replaceFileName(productForm.Picture)}}
                      </span>
                    </div>
                    <span class="input-group-addon btn btn-default btn-file" *ngIf="!productForm.Picture">
                      <label for="Picture" class="custom-file-upload">
                        <i class="fa fa-cloud-upload"></i> Upload
                      </label>
                    </span>
                    <input id="Picture" name="Picture" type="file" [(ngModel)]="productForm.Picture" ng2FileSelect
                      [uploader]="uploader">
                    <a *ngIf="productForm.Picture" (click)="productForm.Picture=null" class="input-group-addon btn btn-default fileinput-exists"
                      data-dismiss="fileinput">Remove</a>
                  </div>
                </div>


                <div class="form-group col-md-3">
                  <label for="Status">Status</label>
                  <select name="Status" class="form-control" [(ngModel)]="productForm.Status">
                    <option [ngValue]="undefined">Select</option>
                    <option *ngFor="let status of LockUps" [ngValue]="status.ID">{{status.Name}}</option>
                  </select>
                </div>

              </div>

              <div class="row">

                <div class="form-group col-md-3">
                  <label for="Group/Individual">Group/Individual</label>
                  <select name="Group/Individual" class="form-control" [(ngModel)]="productForm.GroupIndividual">
                    <option [ngValue]="undefined">Select</option>
                    <option *ngFor="let lockup of GroupIndividualLockups" [ngValue]="lockup.ID">{{lockup.Name}}</option>
                  </select>
                </div>

                <div class="col-md-7 text-right">
                  <br>
                  <br>
                  <div class="btn-group">
                    <input class="btn btn-default" type="reset" (click)="resetForm(form)" value="Reset" />
                    <input class="btn btn-primary" type="submit" value="Save" (click)="submit=true" />
                  </div>
                </div>

              </div>

            </form>
          </fieldset>


          <br>
          <mat-tab-group (selectedTabChange)="changeTab($event)">
            <mat-tab label="Products">
              <div class="col-md-12">
                <div class="html5buttons">
                  <br>
                  <div class="dt-buttons btn-group">
                    <button class="btn btn-default" [disabled]="!selection.hasValue()" mwlConfirmationPopover
                      [popoverTitle]="'Confirm'" [popoverMessage]="'are you sure to delete?'" placement="bottom"
                      (confirm)="deleteSelectedData()" ngbTooltip="Delete">
                      <img src="assets/images/Trash-can.png"></button>
                    <a class="btn btn-default buttons-csv buttons-html5" (click)="export('csv','Product')" placement="bottom"
                      ngbTooltip="Export to CSV"><span>
                        <img src="assets/images/csv.jpg"></span></a>
                    <a class="btn btn-default buttons-excel buttons-html5" (click)="export('xlsx','Product')" placement="bottom"
                      ngbTooltip="Export to Excel"><span><img src="assets/images/ExcelLogoSmall.scale-80.png"></span></a>
                    <a class="btn btn-default buttons-pdf buttons-html5" (click)="export('pdf','Product')" placement="bottom"
                      ngbTooltip="Export to PDF"><span><img src="assets/images/pdf.jpg"></span></a>
                    <a class="btn btn-default buttons-print" placement="bottom" ngbTooltip="Print Data"><span><img src="assets/images/print.jpg"></span></a>
                  </div>
                </div>
                <br>
                <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                </mat-form-field>
                <div class="x">
                  <div class="table-container">
                    <table mat-table #table [dataSource]="productsDataSource" matSort>

                      <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                          </mat-checkbox>
                        </th>
                        <td style="width: 5%" mat-cell *matCellDef="let row">
                          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)">
                          </mat-checkbox>
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="ID">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                        <td style="width: 5%" mat-cell *matCellDef="let element"> {{element.ID}}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="Name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                        <td style="width: 10%" mat-cell *matCellDef="let element">
                          {{element.Name}} </td>
                      </ng-container>

                      <ng-container matColumnDef="Name2">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name2</th>
                        <td style="width: 15%" mat-cell *matCellDef="let element"> {{element.Name2}}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="APPLYON">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Apply on</th>
                        <td style="width: 15%" mat-cell *matCellDef="let element">
                          {{element.QustionnaireLevel}} </td>
                      </ng-container>

                      <ng-container matColumnDef="LINEOFBUSINESS">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Line of Business </th>
                        <td style="width: 10%" mat-cell *matCellDef="let element">
                          {{element.LineOfBusiness}} </td>
                      </ng-container>

                      <ng-container matColumnDef="SUBLINEOFBUSINESS">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sub Line of Business </th>
                        <td style="width: 10%" mat-cell *matCellDef="let element">
                          {{element.SubLineOfBusiness}} </td>
                      </ng-container>

                      <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Actions</th>
                        <td style="width: 10%" mat-cell *matCellDef="let element">
                          <i (click)="updateProduct(element)" class="fa fa-edit" placement="left" ngbTooltip="Edit"></i>
                          <i (click)="$event.stopPropagation()" class="fa fa-remove" mwlConfirmationPopover
                            [popoverTitle]="'Confirm'" [popoverMessage]="'are you sure to delete?'" placement="left"
                            (confirm)="deleteProduct(element.ID)" ngbTooltip="Delete"></i>
                        </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="productTableColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: productTableColumns;" (click)="updateProduct(row)"
                        class=" mat-row {{productForm.ID===row.ID?'active':'not-active'}}"></tr>

                    </table>
                  </div>
                  <mat-paginator #paginator [pageSizeOptions]="[10, 20, 30 ,40,50]" [showFirstLastButtons]="true"></mat-paginator>

                </div>
              </div>

            </mat-tab>
            <mat-tab label="Products Detailes">


              <div class="col-md-5">

                <br>
                <div class="table-container">
                  <table mat-table #table2 [dataSource]="subLOBDataSource" matSort>

                    <ng-container matColumnDef="select">
                      <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle4() : null" [checked]="selection4.hasValue() && isAllSelected2()"
                          [indeterminate]="selection4.hasValue() && !isAllSelected2()">
                        </mat-checkbox>
                      </th>
                      <td style="width: 5%" mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection4.toggle(row) : null"
                          [checked]="selection4.isSelected(row)">
                        </mat-checkbox>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="ID">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                      <td style="width: 5%" mat-cell *matCellDef="let element"> {{element.ID}}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="lob">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Line of Business</th>
                      <td style="width: 15%" mat-cell *matCellDef="let element"> {{element.lob}}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="subLob">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Sub LOB</th>
                      <td style="width: 15%" mat-cell *matCellDef="let element">
                        {{element.sublob}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="subLineOfBusinessTableColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: subLineOfBusinessTableColumns;" class=" mat-row"></tr>

                  </table>
                </div>
                <mat-paginator #paginator2 [pageSizeOptions]="[10, 20, 30 ,40,50]" [showFirstLastButtons]="true"></mat-paginator>

              </div>

              <div class="col-md-2 text-center groups-arrows">
                <div>
                  <i class="fa fa-arrow-right" (click)="addSubLineOfBusiness()"></i>
                </div>

                <div>
                  <i class="fa fa-arrow-left" (click)="removeSubLineOfBusiness()"></i>
                </div>

              </div>

              <div class="col-md-5">

                <br>
                <div class="table-container">
                  <table mat-table #table3 [dataSource]="productsDetailsDataSource" matSort>

                    <ng-container matColumnDef="select">
                      <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle5() : null" [checked]="selection5.hasValue() && isAllSelected3()"
                          [indeterminate]="selection5.hasValue() && !isAllSelected3()">
                        </mat-checkbox>
                      </th>
                      <td style="width: 5%" mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection5.toggle(row) : null"
                          [checked]="selection5.isSelected(row)">
                        </mat-checkbox>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="ID">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                      <td style="width: 5%" mat-cell *matCellDef="let element"> {{element.ID}}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="lob">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Line of Business</th>
                      <td style="width: 15%" mat-cell *matCellDef="let element"> {{element.lob}}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="subLob">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Sub LOB</th>
                      <td style="width: 15%" mat-cell *matCellDef="let element">
                        {{element.sublob}} </td>
                    </ng-container>
                    <ng-container matColumnDef="EffectiveDate">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Effective Date</th>
                      <td style="width: 15%" mat-cell *matCellDef="let element">
                        {{element.EffectiveDate}} </td>
                    </ng-container>
                    <ng-container matColumnDef="ExpiryDate">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Expiry Date</th>
                      <td style="width: 15%" mat-cell *matCellDef="let element">
                        {{element.ExpiryDate}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="productsDetailTableColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: productsDetailTableColumns;" class=" mat-row"></tr>

                  </table>
                </div>
                <mat-paginator #paginator3 [pageSizeOptions]="[10, 20, 30 ,40,50]" [showFirstLastButtons]="true"></mat-paginator>

              </div>

              <div class="hr-line-dashed"></div>


              <div class="col-md-12 extra-form" *ngIf="extraForm==='productsDetails'">
                <div class="hr-line-dashed"></div>

                <fieldset>
                  <legend>
                    Products Details
                  </legend>
                  <form #form="ngForm" (ngSubmit)="saveProductsDetail(form)" class="{{submit2?'submited':''}}">
                    <div class="row">

                      <div class="form-group col-md-3">
                        <label for="ProductID">Product</label>
                        <select name="ProductID" class="form-control" [(ngModel)]="productsDetailForm.ProductID">
                          <option [ngValue]="undefined">Select</option>
                          <option *ngFor="let product of products" [ngValue]="product.ID">{{product.Name}}</option>
                        </select>
                      </div>

                      <div class="form-group col-md-3">
                        <label for="LineOfBusiness">Line of Business <span class="help-block">*</span></label>
                        <select name="LineOfBusiness" placeholder="Basic LOB" class="form-control" [(ngModel)]="productsDetailForm.LineOfBusiness"
                          required>
                          <option [ngValue]="undefined">Select</option>
                          <option *ngFor="let  Lob of Lobs" [ngValue]="Lob.ID">{{Lob.Name}}</option>
                        </select>
                      </div>


                      <div class="form-group col-md-3">
                        <label for="SLOB">Sub Line of Business</label>
                        <select name="SLOB" placeholder="Sub Line of Business" class="form-control" [(ngModel)]="productsDetailForm.BasicLineOfBusniess">
                          <option [ngValue]="undefined">Select</option>
                          <option *ngFor="let  SubLOB of SubLobs" [ngValue]="SubLOB.ID">{{SubLOB.Name}}</option>
                        </select>
                      </div>

                      <div class="form-group col-md-3">
                        <label for="Status">Status</label>
                        <select name="Status" class="form-control" [(ngModel)]="productsDetailForm.Status">
                          <option [ngValue]="undefined">Select</option>
                          <option *ngFor="let status of LockUps" [ngValue]="status.ID">{{status.Name}}</option>
                        </select>
                      </div>

                    </div>
                    <div class="row">


                      <div class="form-group col-md-3">
                        <label for="EffectiveDate">Effective Date <span class="help-block">*</span></label>
                        <input name="EffectiveDate" required placeholder="Effective Date" type="date" class="form-control"
                          [ngModel]="productsDetailForm.EffectiveDate | date:'yyyy-MM-dd'" (ngModelChange)="productsDetailForm.EffectiveDate = $event">
                      </div>

                      <div class="form-group col-md-3">
                        <label for="ExpiryDate">Expiry Date <span class="help-block">*</span></label>
                        <input name="ExpiryDate" required placeholder="Expiry Date" type="date" class="form-control"
                          [ngModel]="productsDetailForm.ExpiryDate  | date:'yyyy-MM-dd'" (ngModelChange)="productsDetailForm.ExpiryDate = $event">
                      </div>

                      <div class="form-group col-md-3">
                        <label for="QustionType">Products Detail Type</label>
                        <select name="QustionType" (change)="onProductsDetailType(productsDetailForm.QustionType)"
                          class="form-control" [(ngModel)]="productsDetailForm.QustionType">
                          <option [ngValue]="undefined">Select</option>
                          <option *ngFor="let level of ProductsDetailType" [ngValue]="level.ID">{{level.Name}}</option>
                        </select>
                      </div>


                    </div>
                    <div class="row">
                  
                      <div class="col-md-12 text-right">
                        <br>
                        <br>
                        <div class="btn-group">
                          <input class="btn btn-default" type="reset" (click)="productsDetailForm={};submit2=false;resetForm(form)"
                            value="Reset" />
                          <input class="btn btn-primary" type="submit" value="Save" (click)="submit2=true" />
                        </div>
                      </div>
                    </div>
                  </form>
                </fieldset>
              </div>



              <div class="hr-line-dashed"></div>



              <div class="col-md-5">

                <br>
                <div class="table-container">
                  <table mat-table #table4 [dataSource]="subjectTypesLobDataSource" matSort>

                    <ng-container matColumnDef="select">
                      <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle4() : null" [checked]="selection4.hasValue() && isAllSelected4()"
                          [indeterminate]="selection4.hasValue() && !isAllSelected4()">
                        </mat-checkbox>
                      </th>
                      <td style="width: 5%" mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection4.toggle(row) : null"
                          [checked]="selection4.isSelected(row)">
                        </mat-checkbox>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="ID">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                      <td style="width: 5%" mat-cell *matCellDef="let element"> {{element.ID}}
                      </td>
                    </ng-container>


                    <ng-container matColumnDef="SubjectType">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Subject Type</th>
                      <td style="width: 15%" mat-cell *matCellDef="let element"> {{element.SubjectType}}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="ParentSubjectType">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Parent Subject Type</th>
                      <td style="width: 15%" mat-cell *matCellDef="let element">
                        {{element.ParentSubjectType}} </td>
                    </ng-container>
                    <ng-container matColumnDef="lob">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Line of Business</th>
                      <td style="width: 15%" mat-cell *matCellDef="let element"> {{element.lob}}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="subLob">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Sub LOB</th>
                      <td style="width: 15%" mat-cell *matCellDef="let element">
                        {{element.sublob}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="productsDetailLobTableColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: productsDetailLobTableColumns;" class=" mat-row"></tr>

                  </table>
                </div>
                <mat-paginator #paginator4 [pageSizeOptions]="[10, 20, 30 ,40,50]" [showFirstLastButtons]="true"></mat-paginator>

              </div>

              <div class="col-md-2 text-center groups-arrows">
                <div>
                  <i class="fa fa-arrow-right" (click)="addSubLineOfBusiness()"></i>
                </div>

                <div>
                  <i class="fa fa-arrow-left" (click)="removeSubLineOfBusiness()"></i>
                </div>

              </div>

              <div class="col-md-5">

                <br>
                <div class="table-container">
                  <table mat-table #table5 [dataSource]="subjectTypesPDDataSource" matSort>

                    <ng-container matColumnDef="select">
                      <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle5() : null" [checked]="selection5.hasValue() && isAllSelected5()"
                          [indeterminate]="selection5.hasValue() && !isAllSelected5()">
                        </mat-checkbox>
                      </th>
                      <td style="width: 5%" mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection5.toggle(row) : null"
                          [checked]="selection5.isSelected(row)">
                        </mat-checkbox>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="ID">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                      <td style="width: 5%" mat-cell *matCellDef="let element"> {{element.ID}}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="SubjectType">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Subject Type</th>
                      <td style="width: 15%" mat-cell *matCellDef="let element"> {{element.SubjectType}}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="ParentSubjectType">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Parent Subject Type</th>
                      <td style="width: 15%" mat-cell *matCellDef="let element">
                        {{element.ParentSubjectType}} </td>
                    </ng-container>
                    <ng-container matColumnDef="lob">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Line of Business</th>
                      <td style="width: 15%" mat-cell *matCellDef="let element"> {{element.lob}}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="subLob">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Sub LOB</th>
                      <td style="width: 15%" mat-cell *matCellDef="let element">
                        {{element.sublob}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Product">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Product</th>
                      <td style="width: 15%" mat-cell *matCellDef="let element">
                        {{element.Product}} </td>
                    </ng-container>
                    <ng-container matColumnDef="ProductDetail">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Detail</th>
                      <td style="width: 15%" mat-cell *matCellDef="let element">
                        {{element.ProductDetail}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="productsDetailPDTableColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: productsDetailPDTableColumns;" class=" mat-row"></tr>

                  </table>
                </div>
                <mat-paginator #paginator5 [pageSizeOptions]="[10, 20, 30 ,40,50]" [showFirstLastButtons]="true"></mat-paginator>

              </div>

              <div class="hr-line-dashed"></div>

              <div class="col-md-12 extra-form">
                <fieldset>
                  <legend>
                    Subject types
                  </legend>
                  <form #form="ngForm" (ngSubmit)="saveSubjectType(form)" class="{{submit3?'submited':''}}">

                    <div class="row">

                      <div class="form-group col-md-3">
                        <label for="ProductID">Product</label>
                        <select name="ProductID" class="form-control" [(ngModel)]="subjectTypeForm.ProductID">
                          <option [ngValue]="undefined">Select</option>
                          <option *ngFor="let product of products" [ngValue]="product.ID">{{product.Name}}</option>
                        </select>
                      </div>

                      <div class="form-group col-md-3">
                        <label for="ProductDetail">Product Detail</label>
                        <select name="ProductDetail" class="form-control" [(ngModel)]="subjectTypeForm.ProductDetail">
                          <option [ngValue]="undefined">Select</option>
                          <option *ngFor="let ProductDetail of ProductDetails" [ngValue]="ProductDetail.ID">{{ProductDetail.Name}}</option>
                        </select>
                      </div>

                      <div class="form-group col-md-3">
                        <label for="LineOfBusiness">Line of Business <span class="help-block">*</span></label>
                        <select name="LineOfBusiness" placeholder="Basic LOB" class="form-control" [(ngModel)]="subjectTypeForm.LineOfBusiness"
                          required>
                          <option [ngValue]="undefined">Select</option>
                          <option *ngFor="let  Lob of Lobs" [ngValue]="Lob.ID">{{Lob.Name}}</option>
                        </select>
                      </div>


                      <div class="form-group col-md-3">
                        <label for="SLOB">Sub Line of Business</label>
                        <select name="SLOB" placeholder="Sub Line of Business" class="form-control" [(ngModel)]="subjectTypeForm.BasicLineOfBusniess">
                          <option [ngValue]="undefined">Select</option>
                          <option *ngFor="let  SubLOB of SubLobs" [ngValue]="SubLOB.ID">{{SubLOB.Name}}</option>
                        </select>
                      </div>


                    </div>

                    <div class="row">

                      <div class="form-group col-md-3">
                        <label for="SubjectType">Subject Type</label>
                        <select name="SubjectType" placeholder="Subject Type" class="form-control" [(ngModel)]="subjectTypeForm.SubjectType">
                          <option [ngValue]="undefined">Select</option>
                          <option *ngFor="let  SubjectType of SubjectTypes" [ngValue]="SubjectType.ID">{{SubjectType.Name}}</option>
                        </select>
                      </div>


                      <div class="form-group col-md-3">
                        <label for="ExcessPercentage">Excess %</label>
                        <input name="ExcessPercentage" placeholder="Excess %" type="number" class="form-control"
                          [(ngModel)]="subjectTypeForm.ExcessPercentage">
                      </div>
                      <div class="form-group col-md-3">
                        <label for="MinExcessAmount">Min Excess Amount</label>
                        <input name="MinExcessAmount" placeholder="Min Excess Amount" type="number" class="form-control"
                          [(ngModel)]="subjectTypeForm.MinExcessAmount">
                      </div>
                      <div class="form-group col-md-3">
                        <label for="MaxExcessAmount">Max Excess Amount</label>
                        <input name="MaxExcessAmount" placeholder="Max Excess Amount" type="number" class="form-control"
                          [(ngModel)]="subjectTypeForm.MaxExcessAmount">
                      </div>

                    </div>

                    <div class="row">
                      <div class="form-group col-md-3">
                        <label for="From">Excess From <span class="help-block">*</span></label>
                        <select name="From" placeholder="Excess From" class="form-control" [(ngModel)]="subjectTypeForm.From"
                          required>
                          <option [ngValue]="undefined">Select</option>
                          <option *ngFor="let excessFrom of excessFroms" [ngValue]="excessFrom.ID">{{excessFrom.Name}}</option>
                        </select>
                      </div>

                      <div class="col-md-3 text-right">
                        <br>
                        <br>
                        <div class="btn-group">
                          <input class="btn btn-default" type="reset" (click)="subjectTypeForm={};submit3=false;resetForm(form)"
                            value="Reset" />
                          <input class="btn btn-primary" type="submit" value="Save" (click)="submit3=true" />
                        </div>
                      </div>
                    </div>
                  </form>
                </fieldset>
              </div>





            </mat-tab>


            <mat-tab label="Questionnaires">


              <div class="col-md-5">

                <br>
                <div class="table-container">
                  <table mat-table #table6 [dataSource]="notRelatedQuestionnairesDataSource" matSort>

                    <ng-container matColumnDef="select">
                      <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle6() : null" [checked]="selection6.hasValue() && isAllSelected6()"
                          [indeterminate]="selection6.hasValue() && !isAllSelected6()">
                        </mat-checkbox>
                      </th>
                      <td style="width: 5%" mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection6.toggle(row) : null"
                          [checked]="selection6.isSelected(row)">
                        </mat-checkbox>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="ID">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                      <td style="width: 5%" mat-cell *matCellDef="let element"> {{element.ID}}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="lob">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Line of Business</th>
                      <td style="width: 15%" mat-cell *matCellDef="let element"> {{element.lob}}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="subLob">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Sub LOB</th>
                      <td style="width: 15%" mat-cell *matCellDef="let element">
                        {{element.sublob}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="notRelatedQuestionnairesTableColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: notRelatedQuestionnairesTableColumns;" class=" mat-row"></tr>

                  </table>
                </div>
                <mat-paginator #paginator6 [pageSizeOptions]="[10, 20, 30 ,40,50]" [showFirstLastButtons]="true"></mat-paginator>

              </div>

              <div class="col-md-2 text-center groups-arrows">
                <div>
                  <i class="fa fa-arrow-right" (click)="addSubLineOfBusiness()"></i>
                </div>

                <div>
                  <i class="fa fa-arrow-left" (click)="removeSubLineOfBusiness()"></i>
                </div>

              </div>

              <div class="col-md-5">

                <br>
                <div class="table-container">
                  <table mat-table #table7 [dataSource]="relatedQuestionnairesDataSource" matSort>

                    <ng-container matColumnDef="select">
                      <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle7() : null" [checked]="selection7.hasValue() && isAllSelected7()"
                          [indeterminate]="selection7.hasValue() && !isAllSelected7()">
                        </mat-checkbox>
                      </th>
                      <td style="width: 5%" mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection7.toggle(row) : null"
                          [checked]="selection7.isSelected(row)">
                        </mat-checkbox>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="ID">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                      <td style="width: 5%" mat-cell *matCellDef="let element"> {{element.ID}}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="lob">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Line of Business</th>
                      <td style="width: 15%" mat-cell *matCellDef="let element"> {{element.lob}}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="subLob">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Sub LOB</th>
                      <td style="width: 15%" mat-cell *matCellDef="let element">
                        {{element.sublob}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Product">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Product</th>
                      <td style="width: 15%" mat-cell *matCellDef="let element">
                        {{element.Product}} </td>
                    </ng-container>
                    <ng-container matColumnDef="ProductDetail">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Detail</th>
                      <td style="width: 15%" mat-cell *matCellDef="let element">
                        {{element.ProductDetail}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="relatedQuestionnairesTableColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: relatedQuestionnairesTableColumns;" class=" mat-row"></tr>

                  </table>
                </div>
                <mat-paginator #paginator7 [pageSizeOptions]="[10, 20, 30 ,40,50]" [showFirstLastButtons]="true">
                </mat-paginator>

              </div>



            </mat-tab>




          </mat-tab-group>


        </div>


      </div>

    </div>
  </div>
</div>