<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-10">
    <!-- <h2>{{formControls.Name}}</h2> -->
    <h2>Products</h2>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li>
        <a>Products Setup</a>
      </li>
      <li class="active">
        <strong>Products</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-2">
    <div class="title-action">
      <!-- <a ui-sref="pages.edit-form({id:formControls.id})" class="btn btn-primary">Edit This form</a> -->
    </div>
  </div>
</div>




<mat-horizontal-stepper>


  <mat-step>
    <ng-template matStepLabel>
      <h5>Product </h5>
    </ng-template>
    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="row">
        <div class="col-md-12">

          <div class="tabs-container">
            <div class="panel-body">
              <fieldset>
                <legend>
                  Product
                </legend>
                <form #form1="ngForm" (ngSubmit)="saveProduct(form1)" class="{{submit?'submited':''}}">
                  <div class="row">

                    <div class="form-group col-md-3">

                      <label for="Name">Name</label>
                      <input class="form-control" type="text" placeholder="Name" matInput [formControl]="productSearch"
                        [matAutocomplete]="policyHoldersauto">

                      <mat-autocomplete #policyHoldersauto="matAutocomplete" [displayWith]="displayProduct"
                        (optionSelected)="setCurrentProduct()">
                        <mat-option *ngFor="let product of products" [value]="product">
                          {{ product.Name }}
                        </mat-option>
                      </mat-autocomplete>
                    </div>

                    <div class="form-group col-md-3">
                      <label for="Name2">Name2 <span class="help-block">*</span></label>
                      <input name="Name2" placeholder="Name2" type="text" class="form-control" [(ngModel)]="productForm.Name2"
                        required>
                    </div>
                    <div class="form-group col-md-3">
                      <label for="Code">Product Code</label>
                      <input name="Code" placeholder="Product Code" type="text" class="form-control" [(ngModel)]="productForm.Code">
                    </div>


                    <div class="form-group col-md-3">
                      <label for="EffectiveDate">Effective Date <span class="help-block">*</span></label>
                      <input name="EffectiveDate" required placeholder="Effective Date" bsDatepicker class="form-control"
                        [(ngModel)]="productForm.EffectiveDate">
                    </div>

                  </div>

                  <div class="row">

                    <div class="form-group col-md-3">
                      <label for="ExpiryDate">Expiry Date <span class="help-block">*</span></label>
                      <input name="ExpiryDate" placeholder="Expiry Date" bsDatepicker class="form-control" [(ngModel)]="productForm.ExpiryDate ">
                    </div>


                    <div class="form-group col-md-3">
                      <label for="Logo">Picture</label>

                      <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                        <div class="form-control" data-trigger="fileinput">
                          <span class="fileinput-filename">
                            <i class="glyphicon glyphicon-file fileinput-exists"></i>
                            {{replaceFileName(productForm.Logo)}}
                          </span>
                        </div>
                        <span class="input-group-addon btn btn-default btn-file" *ngIf="!productForm.Logo">
                          <label for="Logo" class="custom-file-upload">
                            <i class="fa fa-cloud-upload"></i> Upload
                          </label>
                        </span>
                        <input id="Logo" name="Logo" type="file" [(ngModel)]="productForm.Logo" ng2FileSelect
                          [uploader]="uploader">
                        <a *ngIf="productForm.Logo" (click)="productForm.Logo=null" class="input-group-addon btn btn-default fileinput-exists"
                          data-dismiss="fileinput">Remove</a>
                      </div>
                    </div>


                    <div class="form-group col-md-3">
                      <label for="Status">Status</label>
                      <select name="Status" class="form-control" [(ngModel)]="productForm.Status">
                        <option [ngValue]="undefined">Select</option>
                        <option *ngFor="let status of LockUps" [ngValue]="status.MinorCode">{{status.Name}}</option>
                      </select>
                    </div>


                    <div class="form-group col-md-3">
                      <label for="LockIndvGroup">Group/Individual</label>
                      <select name="LockIndvGroup" class="form-control" [(ngModel)]="productForm.LockIndvGroup">
                        <option [ngValue]="undefined">Select</option>
                        <option *ngFor="let lockup of GroupIndividualLockups" [ngValue]="lockup.ID">{{lockup.Name}}</option>
                      </select>
                    </div>

                  </div>

                  <div class="row">

                    <div class="col-md-11 text-right">
                      <br>
                      <br>
                      <div class="btn-group">
                        <input class="btn btn-default" type="reset" (click)="resetProduct(form1)" value="Reset" />
                        <input class="btn btn-primary" type="submit" value="Save" (click)="submit=true" />
                      </div>
                    </div>

                  </div>

                </form>
              </fieldset>

              <div class="hr-line-dashed"></div>
              <div class="col-md-12 extra-form">


                <fieldset>
                  <legend>
                    Products Details
                  </legend>
                  <form #form2="ngForm" (ngSubmit)="saveProductsDetail(form2)" class="{{submit2?'submited':''}}">
                    <div class="row">

                      <!-- <div class="form-group col-md-3">
                        <label for="ProductID">Product</label>
                        <select name="ProductID" class="form-control" [(ngModel)]="productsDetailForm.ProductID"
                          required>
                          <option [ngValue]="undefined">Select</option>
                          <option *ngFor="let product of products" [ngValue]="product.ID">{{product.Name}}</option>
                        </select>
                      </div> -->

                      <div class="form-group col-md-3">
                        <label for="LineOfBusniess">Line of Business <span class="help-block">*</span></label>
                        <select name="LineOfBusniess" class="form-control" [(ngModel)]="productsDetailForm.LineOfBusniess"
                          (change)="loadSubLinesOfBusiness(productsDetailForm.LineOfBusniess)" [disabled]=" productsDetailForm.selected"
                          required>
                          <option [ngValue]="undefined">Select</option>
                          <option *ngFor="let  Lob of Lobs" [ngValue]="Lob.ID">{{Lob.Name}}</option>
                        </select>
                      </div>
                      <button hidden #myButton (click)="clickTest()"></button>

                      <div class="form-group col-md-3">
                        <label for="SubLineOfBusniess">Sub Line of Business <span class="help-block">*</span></label>
                        <select name="SubLineOfBusniess" class="form-control" [(ngModel)]="productsDetailForm.SubLineOfBusniess"
                          required>
                          <option [ngValue]="undefined">Select</option>
                          <option *ngFor="let  SubLOB of SubLobs" [ngValue]="SubLOB.ID">{{SubLOB.Name}}</option>
                        </select>
                      </div>


                      <div class="form-group col-md-3">
                        <label for="EffectiveDate">Effective Date <span class="help-block">*</span></label>
                        <input name="EffectiveDate" required placeholder="Effective Date" bsDatepicker class="form-control"
                          [ngModel]="productsDetailForm.EffectiveDate">
                      </div>

                      <div class="form-group col-md-3">
                        <label for="ExpiryDate">Expiry Date <span class="help-block">*</span></label>
                        <input name="ExpiryDate" placeholder="Expiry Date" bsDatepicker class="form-control" [ngModel]="productsDetailForm.ExpiryDate ">
                      </div>
                    </div>
                    <div class="row">

                      <div class="form-group col-md-3">
                        <label for="Status">Status</label>
                        <select name="Status" class="form-control" [(ngModel)]="productsDetailForm.Status">
                          <option [ngValue]="undefined">Select</option>
                          <option *ngFor="let status of LockUps" [ngValue]="status.MinorCode">{{status.Name}}</option>
                        </select>
                      </div>

                    </div>
                    <div class="row">
                      <div class="col-md-11 text-right">
                        <br>
                        <br>
                        <div class="btn-group">
                          <input class="btn btn-default" type="reset" (click)="submit2=false;resetProductDetail(form2)" value="Reset" />
                          <input class="btn btn-primary" type="submit" value="Save" (click)="submit2=true" />
                        </div>
                      </div>
                    </div>
                  </form>
                </fieldset>

                <div class="hr-line-dashed"></div>

                <div class="col-md-5">

                  <br>
                  <div class="table-container">
                    <table mat-table #table2 [dataSource]="subLOBDataSource" matSort>

                      <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                          <mat-checkbox (change)="$event ? masterToggle2() : null" [checked]="selection2.hasValue() && isAllSelected2()"
                            [indeterminate]="selection2.hasValue() && !isAllSelected2()">
                          </mat-checkbox>
                        </th>
                        <td style="width: 5%" mat-cell *matCellDef="let row">
                          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection2.toggle(row) : null"
                            [checked]="selection2.isSelected(row)">
                          </mat-checkbox>
                        </td>
                      </ng-container>



                      <ng-container matColumnDef="lob">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Line of Business</th>
                        <td style="width: 15%" mat-cell *matCellDef="let element">
                          {{getLobName(element.LineOfBusniess)}}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="subLob">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sub LOB</th>
                        <td style="width: 15%" mat-cell *matCellDef="let element"> {{element.Name}} </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="subLineOfBusinessTableColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: subLineOfBusinessTableColumns;" class=" mat-row"></tr>

                    </table>
                  </div>
                  <mat-paginator #paginator2 [pageSizeOptions]="[10, 20, 30 ,40,50]" [showFirstLastButtons]="true"></mat-paginator>

                </div>

                <div class="col-md-2 text-center groups-arrows">
                  <div>
                    <i class="fa fa-arrow-right" (click)="AddProductDetails()"></i>
                  </div>

                  <div>
                    <i class="fa fa-arrow-left" (click)="deleteProductDetails()"></i>
                  </div>

                </div>

                <div class="col-md-5">

                  <br>
                  <div class="table-container">
                    <table mat-table #table3 [dataSource]="productsDetailsDataSource" matSort>

                      <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                          <mat-checkbox (change)="$event ? masterToggle3() : null" [checked]="selection3.hasValue() && isAllSelected3()"
                            [indeterminate]="selection3.hasValue() && !isAllSelected3()">
                          </mat-checkbox>
                        </th>
                        <td style="width: 5%" mat-cell *matCellDef="let row">
                          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection3.toggle(row) : null"
                            [checked]="selection3.isSelected(row)">
                          </mat-checkbox>
                        </td>
                      </ng-container>



                      <ng-container matColumnDef="lob">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Line of Business</th>
                        <td style="width: 15%" mat-cell *matCellDef="let element">
                          {{getLobName(element.LineOfBusniess)}}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="subLob">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sub LOB</th>
                        <td style="width: 15%" mat-cell *matCellDef="let element">
                          {{element.SubLineDesc}} </td>
                      </ng-container>
                      <ng-container matColumnDef="EffectiveDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Effective Date</th>
                        <td style="width: 15%" mat-cell *matCellDef="let element">
                          {{element.EffectiveDate | date: 'dd/MM/yyyy'}} </td>
                      </ng-container>
                      <ng-container matColumnDef="ExpiryDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Expiry Date</th>
                        <td style="width: 15%" mat-cell *matCellDef="let element">

                          {{(element.ExpiryDate !== null) ? (element.ExpiryDate | date: 'dd/MM/yyyy') : "" }} </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="productsDetailTableColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: productsDetailTableColumns;" class=" mat-row {{productsDetailForm.ID===row.ID?'active':'not-active'}}"
                        (click)="updateProductsDetail(row)"></tr>

                    </table>
                  </div>
                  <mat-paginator #paginator3 [pageSizeOptions]="[10, 20, 30 ,40,50]" [showFirstLastButtons]="true"></mat-paginator>

                </div>
              </div>

              <div class="row">

                <div class="col-md-10 text-right">
                  <br>
                  <br>
                  <div class="btn-group">
                    <button class="btn btn-primary" mat-button matStepperNext>Next</button>

                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-step>
  <mat-step [editable]="productForm.ID && productDetails.length > 0">

    <ng-template matStepLabel>
      <h5>Product Subject types</h5>
    </ng-template>
    {{productDetails.legend}}
    <app-productsubjecttype *ngIf="productForm.ID && productDetails.length > 0" [product]="productForm"
      [productDetails]="productDetails"></app-productsubjecttype>

  </mat-step>
  <mat-step [editable]="submit">
    <ng-template matStepLabel>
      <h5>Product Categories </h5>
    </ng-template>
    <div class="wrapper wrapper-content animated fadeInRight" *ngIf="productForm.ID && productDetails.length > 0">
      <div class="row">
        <div class="col-md-12">

          <div class="tabs-container">
            <div class="panel-body">
              <div class="col-md-12">
                <legend>
                  Manage Categories :
                </legend>
                <div class="row">
                  <div class="form-group col-md-3">
                    <label for="CategoryLevel">Level <span class="help-block">*</span></label>
                    <select name="CategoryLevel" class="form-control" [(ngModel)]="productCategoryForm.CategoryLevel"
                      (change)="loadProductUnRelatedCateogry()" required>
                      <option [ngValue]="undefined">Select</option>
                      <option *ngFor="let level of Levels" [ngValue]="level.MinorCode">{{level.Name}}</option>
                    </select>
                  </div>

                  <div class="form-group col-md-3">
                    <label for="ProductDetailID">Product Details </label>
                    <select name="ProductDetailID" class="form-control" [disabled]="productCategoryForm.CategoryLevel === 1 || productCategoryForm.CategoryLevel === 2"
                      [(ngModel)]="productCategoryForm.ProductDetailID" (change)="loadProductUnRelatedCateogry()"
                      required>
                      <option [ngValue]="undefined">Select</option>
                      <option *ngFor="let ProductDetail of productDetails" [ngValue]="ProductDetail.ID">{{ProductDetail.SubLineDesc}}</option>
                    </select>
                  </div>
                  <div class="form-group col-md-3">
                    <label for="LineOfBusniess">Line of Business <span class="help-block">*</span></label>
                    <select name="LineOfBusniess" class="form-control" [(ngModel)]="productCategoryForm.LineOfBusniess"
                      disabled
  required>
                      <option [ngValue]="undefined">Select</option>
                      <option *ngFor="let  Lob of Lobs" [ngValue]="Lob.ID">{{Lob.Name}}</option>
                    </select>
                  </div>


                  <div class="form-group col-md-3">
                    <label for="SubLineOfBusniess">Sub Line of Business</label>
                    <select name="SubLineOfBusniess" class="form-control"
                      [(ngModel)]="productCategoryForm.SubLineOfBusniess" disabled>
                      <option [ngValue]="undefined">Select</option>
                      <option *ngFor="let  SubLOB of SubLobs" [ngValue]="SubLOB.SubLineOfBusniess">{{SubLOB.SubLineDesc}}</option>
                    </select>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-md-3">
                    <label for="selectedCategories">Categories<span class="help-block">*</span></label>
                    <ng-multiselect-dropdown name="selectedCategories" [placeholder]="'Categories'" [data]="CategoriesDDL"
                      [(ngModel)]="selectedCategories" [settings]="dropdownSettings">
                    </ng-multiselect-dropdown>
                  </div>

                  <div class="col-md-8 text-right">
                    <br>
                    <br>
                    <div class="btn-group">

                      <input class="btn btn-primary" type="submit" value="Save" [disabled]="productCategoryForm.selected" (click)="SaveCateogryColumns()" />
                    </div>
                  </div>

                </div>
              </div>
              <br>





              <br><br><br>
              <div class="row" *ngIf="productForm.ID && productDetails.length > 0">
                <div class="col-md-12">

                  <div class="tabs-container">
                    <div class="panel-body">
                      <mat-tab-group>
                        <mat-tab label="Categories">

                          <div class="col-md-12">
                            <legend>
                              Categories
                            </legend>

                            <div class="col-md-12">
                              <div class="html5buttons">
                                <br>
                                <div class="dt-buttons btn-group">
                                  <button class="btn btn-default" [disabled]="!selection9.hasValue()"
                                    mwlConfirmationPopover [popoverTitle]="'Confirm'" [popoverMessage]="'are you sure to delete?'"
                                    placement="bottom" (confirm)="DeleteProductCategory()" ngbTooltip="Delete">
                                    <img src="assets/images/Trash-can.png"></button>
                                  <a class="btn btn-default buttons-csv buttons-html5" (click)="export('csv','country')"
                                    placement="bottom" ngbTooltip="Export to CSV"><span>
                                      <img src="assets/images/csv.jpg"></span></a>
                                  <a class="btn btn-default buttons-excel buttons-html5" (click)="export('xlsx','country')"
                                    placement="bottom" ngbTooltip="Export to Excel"><span><img src="assets/images/ExcelLogoSmall.scale-80.png"></span></a>
                                  <a class="btn btn-default buttons-pdf buttons-html5" (click)="export('pdf','country')"
                                    placement="bottom" ngbTooltip="Export to PDF"><span><img src="assets/images/pdf.jpg"></span></a>
                                  <a class="btn btn-default buttons-print" placement="bottom" ngbTooltip="Print Data"><span><img
                                        src="assets/images/print.jpg"></span></a>
                                </div>
                              </div>
                              <br>
                              <div class="col-md-3">
                                <mat-form-field>
                                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="table-container">
                              <table mat-table #table9 [dataSource]="relatedCategoriesDataSource" matSort>

                                <ng-container matColumnDef="select">
                                  <th mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox (change)="$event ? masterToggle9() : null" [checked]="selection9.hasValue() && isAllSelected9()"
                                      [indeterminate]="selection9.hasValue() && !isAllSelected9()">
                                    </mat-checkbox>
                                  </th>
                                  <td style="width: 5%" mat-cell *matCellDef="let row">
                                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection9.toggle(row) : null"
                                      [checked]="selection9.isSelected(row)">
                                    </mat-checkbox>
                                  </td>
                                </ng-container>


                                <ng-container matColumnDef="Name">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                                  <td style="width: 15%" mat-cell *matCellDef="let element"> {{element.Lable}}
                                  </td>
                                </ng-container>

                                <ng-container matColumnDef="lob">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Line of Business</th>
                                  <td style="width: 15%" mat-cell *matCellDef="let element"> {{element.LineDesc}}
                                  </td>
                                </ng-container>

                                <ng-container matColumnDef="subLob">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Sub LOB</th>
                                  <td style="width: 15%" mat-cell *matCellDef="let element">
                                    {{element.SubLineDesc}} </td>
                                </ng-container>
                                <ng-container matColumnDef="Level">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Level</th>
                                  <td style="width: 15%" mat-cell *matCellDef="let element">
                                    {{element.CategoryLevelDesc}} </td>
                                </ng-container>
                                <ng-container matColumnDef="IsMultiRecord">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Is Multi Record</th>
                                  <td style="width: 15%" mat-cell *matCellDef="let element">
                                    {{element.IsMultiDesc}} </td>
                                </ng-container>
                                <ng-container matColumnDef="Product">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Product</th>
                                  <td style="width: 15%" mat-cell *matCellDef="let element">
                                    {{element.ProductDesc}} </td>
                                </ng-container>
                                <ng-container matColumnDef="ProductDetail">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Detail</th>
                                  <td style="width: 15%" mat-cell *matCellDef="let element">
                                    {{element.ProductDesc}} </td>
                                </ng-container>
                                <ng-container matColumnDef="Status">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                                  <td style="width: 15%" mat-cell *matCellDef="let element">
                                 
                                    <mat-form-field>
                                        <mat-select [(value)]="element.Status" placeholder="Status">
                                            <mat-option value="undefined">select</mat-option>
                                            <mat-option  *ngFor="let status of LockUps"  [value]="status.MinorCode">
                                              {{status.Name}}</mat-option>
                                          </mat-select>
                                        </mat-form-field>
                                     
                               
                                  </td>
                                </ng-container>
                                <ng-container matColumnDef="Order">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Order</th>
                                  <td style="width: 15%" mat-cell *matCellDef="let element">
                                    <mat-form-field floatLabel="never">
                                      <input matInput placeholder="Order" [value]="element.Percent" [(ngModel)]="element.Order">
                                    </mat-form-field>

                                  </td>
                                </ng-container>


                                <tr mat-header-row *matHeaderRowDef="relatedCategoriesTableColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: relatedCategoriesTableColumns;" 
                                
                                class=" mat-row {{productCategoryForm.ID===row.ID?'active':'not-active'}}"
                                  (click)="UpdateProductCategory(row)"></tr>

                              </table>
                            </div>
                            <mat-paginator #paginator9 [pageSizeOptions]="[10, 20, 30 ,40,50]" [showFirstLastButtons]="true">
                            </mat-paginator>
                            <br>
                            <div class="col-md-11 text-right">
  
                              <div class="btn-group">
                              
                                <input class="btn btn-primary" type="submit" value="Save" (click)="saveChanges()" />
                              </div>
                            </div>
                           
                          </div>
                        </mat-tab>
                        <mat-tab label="Columns">

                          <div class="col-md-12">
                            <legend>
                              Columns
                            </legend>

                            <div class="col-md-12">
                              <div class="col-md-3">
                                <mat-form-field>
                                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="table-container">
                              <table mat-table #table10 [dataSource]="categoryColumnsDataSource" matSort>

                                <ng-container matColumnDef="select">
                                  <th mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox (change)="$event ? masterToggle10() : null" [checked]="selection10.hasValue() && isAllSelected10()"
                                      [indeterminate]="selection10.hasValue() && !isAllSelected10()">
                                    </mat-checkbox>
                                  </th>
                                  <td style="width: 5%" mat-cell *matCellDef="let row">
                                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection10.toggle(row) : null"
                                      [checked]="selection10.isSelected(row)">
                                    </mat-checkbox>
                                  </td>
                                </ng-container>

                            
                                <ng-container matColumnDef="Lable">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Label</th>
                                  <td style="width: 15%" mat-cell *matCellDef="let element"> {{element.Lable}}
                                  </td>
                                </ng-container>
                                <ng-container matColumnDef="ColumnType">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Column Type</th>
                                  <td style="width: 15%" mat-cell *matCellDef="let element"> {{element.ColumnTypeDesc}}
                                  </td>
                                </ng-container>

                                <ng-container matColumnDef="Category">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
                                  <td style="width: 15%" mat-cell *matCellDef="let element">
                                    {{element.CategoryDesc}} </td>
                                </ng-container>

                                <ng-container matColumnDef="Product">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Product</th>
                                  <td style="width: 15%" mat-cell *matCellDef="let element">
                                    {{element.ProductDesc}} </td>
                                </ng-container>
                                <ng-container matColumnDef="ProductDetail">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Detail</th>
                                  <td style="width: 15%" mat-cell *matCellDef="let element">
                                    {{element.ProductColumnDesc}} </td>
                                </ng-container>
                                <ng-container matColumnDef="Status">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                                  <td style="width: 15%" mat-cell *matCellDef="let element">
                                    {{element.Status}} </td>
                                </ng-container>
                                <ng-container matColumnDef="ListReference">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header>List Reference</th>
                                  <td style="width: 15%" mat-cell *matCellDef="let element">
                                    {{element.ListReference}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="categoryColumnsTableColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: categoryColumnsTableColumns;" (click)="UpdateProductCategoryValidation(row)"
                                class=" mat-row {{columnsForm.ID===row.ID?'active':'not-active'}}"></tr>

                              </table>
                            </div>
                            <mat-paginator #paginator10 [pageSizeOptions]="[10, 20, 30 ,40,50]" [showFirstLastButtons]="true">
                            </mat-paginator>

                          </div>
                        </mat-tab>

                        <mat-tab label="Columns Validation">

                          <div class="col-md-12">
                            <legend>
                              Column Validations
                            </legend>
                            <fieldset>

                              <form #form4="ngForm" (ngSubmit)="saveValidationColumns()" class="{{submit4?'submited':''}}">
                                <div class="row">
                                  <div class="form-group col-md-3">
                                    <label for="CategoryID">Categories </label>
                                    <select name="CategoryID" class="form-control" [(ngModel)]="columnValidationForm.CategoryID"
                                      (change)="LoadProductCategoryCloumns()" required>
                                      <option [ngValue]="undefined">Select</option>
                                      <option *ngFor="let cat of RelatedCategory" [ngValue]="cat.ID">{{cat.Lable}}</option>
                                    </select>
                                  </div>
                                  <div class="form-group col-md-3">
                                    <label for="ColumnID">Columns </label>
                                    <select name="ColumnID" class="form-control" [(ngModel)]="columnValidationForm.ColumnID"
                                      (change)="updateValidationValues()" required>
                                      <option [ngValue]="undefined">Select</option>
                                      <option *ngFor="let column of productColumns" [ngValue]="column.ID">{{column.Lable}}</option>
                                    </select>
                                  </div>
                                  <div class="form-group col-md-3">
                                    <label for="Lable">Label<span class="help-block">*</span></label>
                                    <input name="Lable" placeholder="Label" readonly type="text" class="form-control"
                                      [(ngModel)]="columnValidationForm.Lable" required>
                                  </div>

                                  <div class="form-group col-md-3">
                                    <label for="Lable2">Label2 </label>
                                    <input name="Lable2" placeholder="Lable2" readonly type="text" class="form-control"
                                      [(ngModel)]="columnValidationForm.Lable2">
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="form-group col-md-3">
                                    <label for="DataType">Data Type</label>
                                    <input name="DataType" placeholder="Data Type" readonly type="text" class="form-control"
                                      [(ngModel)]="columnValidationForm.DataType">
                                  </div>

                                  <div class="form-group col-md-3">
                                    <label for="MaxValue">Max Value</label>
                                    <input name="MaxValue" placeholder="Max Value" type="number" class="form-control"
                                      [(ngModel)]="columnValidationForm.MaxValue">
                                  </div>



                                  <div class="form-group col-md-3">
                                    <label for="ValidationType">Validation Type</label>
                                    <select name="ValidationType" class="form-control" [(ngModel)]="columnValidationForm.LocValidType">
                                      <option [ngValue]="undefined">Select</option>
                                      <option *ngFor="let ValidationType of ValidationTypes" [ngValue]="ValidationType.MinorCode">{{ValidationType.Name}}</option>
                                    </select>
                                  </div>
                                  <div class="form-group col-md-3">
                                    <label for="MinValue">Min Value</label>
                                    <input name="MinValue" placeholder="Min Value" type="number" [disabled]="columnValidationForm.LocValidType!==3"
                                      [required]="columnValidationForm.LocValidType === 3" class="form-control"
                                      [(ngModel)]="columnValidationForm.MinValue">
                                  </div>
                                  <div class="form-group col-md-3" *ngIf="columnValidationForm.LocValidType === 2">
                                    <mat-checkbox name="IsMandetory" [(ngModel)]="columnValidationForm.IsMandetoryTemp">
                                      Is Mandatory
                                    </mat-checkbox>
                                  </div>

                                  <div class="form-group col-md-3" *ngIf="columnValidationForm.LocValidType === 1">
                                    <mat-checkbox name="CheckDuplication" [(ngModel)]="columnValidationForm.CheckDuplicationTemp">
                                      Check Duplicatio
                                    </mat-checkbox>
                                  </div>




                                  <div class="col-md-12 text-right">
                                    <br>
                                    <br>
                                    <div class="btn-group">
                                      <input class="btn btn-default" type="reset" (click)="submit4=false;resetValidationForm(form4)"
                                        value="Reset" />
                                      <input class="btn btn-primary" type="submit" value="Save" (click)="submit4=true" />
                                    </div>
                                  </div>
                                </div>
                              </form>
                            </fieldset>
                            <div class="col-md-12">
                              <div class="col-md-3">
                                <mat-form-field>
                                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="table-container">
                              <table mat-table #table11 [dataSource]="columnValidationsDataSource" matSort>

                                <ng-container matColumnDef="select">
                                  <th mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox (change)="$event ? masterToggle11() : null" [checked]="selection11.hasValue() && isAllSelected11()"
                                      [indeterminate]="selection11.hasValue() && !isAllSelected11()">
                                    </mat-checkbox>
                                  </th>
                                  <td style="width: 5%" mat-cell *matCellDef="let row">
                                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection11.toggle(row) : null"
                                      [checked]="selection11.isSelected(row)">
                                    </mat-checkbox>
                                  </td>
                                </ng-container>

                            
                                <ng-container matColumnDef="Lable">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Label</th>
                                  <td style="width: 15%" mat-cell *matCellDef="let element"> {{element.Lable}}
                                  </td>
                                </ng-container>
                                <ng-container matColumnDef="DataType">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Data Type</th>
                                  <td style="width: 15%" mat-cell *matCellDef="let element"> {{element.DataTypeDesc}}
                                  </td>
                                </ng-container>
                                <ng-container matColumnDef="ValidationType">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Validation Type</th>
                                  <td style="width: 15%" mat-cell *matCellDef="let element">
                                    {{element.LocTypeDesc}} </td>
                                </ng-container>
                                <ng-container matColumnDef="IsMandatory">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header>IsMandatory</th>
                                  <td style="width: 15%" mat-cell *matCellDef="let element">
                                    {{element.IsMandatory}} </td>
                                </ng-container>
                                <ng-container matColumnDef="CheckDuplication">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Check Duplication</th>
                                  <td style="width: 15%" mat-cell *matCellDef="let element">
                                    {{element.CheckDuplication}} </td>
                                </ng-container>
                                <ng-container matColumnDef="MinValue">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header>MinValue</th>
                                  <td style="width: 15%" mat-cell *matCellDef="let element">
                                    {{element.MinValue}} </td>
                                </ng-container>
                                <ng-container matColumnDef="MaxValue">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header>MaxValue</th>
                                  <td style="width: 15%" mat-cell *matCellDef="let element">
                                    {{element.MaxValue}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="columnValidationsTableColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: columnValidationsTableColumns;" (click)="updateValidations(row)"
                                class=" mat-row {{columnValidationForm.ID===row.ID?'active':'not-active'}}"></tr>

                              </table>
                            </div>
                            <mat-paginator #paginator11 [pageSizeOptions]="[10, 20, 30 ,40,50]" [showFirstLastButtons]="true">
                            </mat-paginator>





                          </div>
                        </mat-tab>

                      </mat-tab-group>
                    </div>


                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-step>
  <mat-step [editable]="submit">

    <ng-template matStepLabel>
      <h5>Product Attachments </h5>
    </ng-template>
    <app-product-attachments [Lobs]="Lobs" [status]="LockUps" *ngIf="productForm.ID && productDetails.length > 0"
      [product]="productForm"></app-product-attachments>
  </mat-step>
  <mat-step [editable]="submit">
    <ng-template matStepLabel>
      <h5>Product Wording </h5>
    </ng-template>
    <app-productwording *ngIf="productForm.ID && productDetails.length > 0" [product]="productForm" [productDetails]="productDetails"
      [Lobs]="Lobs" [status]="LockUps"></app-productwording>
  </mat-step>
  <!--   <mat-step [editable]="submit">

      <ng-template matStepLabel>
          <h5>Product Questionnaires</h5>
        </ng-template>
        <div class="row">
            <div class="form-group col-md-3">
                <label for="ProductDetailedID">Product Details </label>
                <select name="ProductDetailedID" class="form-control" 
                  [(ngModel)]="productQuestionnaireForm.ProductDetailedID" (change)="FilterQustionnaires()"
                  required>
                  <option [ngValue]="undefined">Select</option>
                  <option *ngFor="let ProductDetail of productDetails" [ngValue]="ProductDetail.ID">{{ProductDetail.SubLineDesc}}</option>
                </select>
              </div>
        </div>
    <div class="col-md-5" *ngIf="productForm.ID && productDetails.length > 0">

      <br>
      <legend>
        Not Questionnaires Categories
      </legend>
      <div class="table-container">
        <table mat-table #table6 [dataSource]="notRelatedQuestionnairesDataSource" matSort>

          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle6() : null" [checked]="selection6.hasValue() && isAllSelected6()"
                [indeterminate]="selection6.hasValue() && !isAllSelected6()">
              </mat-checkbox>
            </th>
            <td style="width: 5%" mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection6.toggle(row) : null"
                [checked]="selection6.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="ID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td style="width: 5%" mat-cell *matCellDef="let element"> {{element.ID}}
            </td>
          </ng-container>

          <ng-container matColumnDef="lob">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Line of Business</th>
            <td style="width: 15%" mat-cell *matCellDef="let element"> {{element.lob}}
            </td>
          </ng-container>

          <ng-container matColumnDef="subLob">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Sub LOB</th>
            <td style="width: 15%" mat-cell *matCellDef="let element">
              {{element.sublob}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="notRelatedQuestionnairesColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: notRelatedQuestionnairesColumns;" class=" mat-row"></tr>

        </table>
      </div>
      <mat-paginator #paginator6 [pageSizeOptions]="[10, 20, 30 ,40,50]" [showFirstLastButtons]="true"></mat-paginator>

    </div>

    <div class="col-md-2 text-center groups-arrows" *ngIf="productForm.ID && productDetails.length > 0">
      <div>
        <i class="fa fa-arrow-right" (click)="addQuestionaire()"></i>
      </div>

      <div>
        <i class="fa fa-arrow-left" (click)="removeQuestionaires()"></i>
      </div>

    </div>

    <div class="col-md-5" *ngIf="productForm.ID && productDetails.length > 0">

      <br>
      <legend>
        Questionnaires Categories
      </legend>

      <div class="table-container">
        <table mat-table #table7 [dataSource]="relatedQuestionnairesDataSource" matSort>

          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle7() : null" [checked]="selection7.hasValue() && isAllSelected7()"
                [indeterminate]="selection7.hasValue() && !isAllSelected7()">
              </mat-checkbox>
            </th>
            <td style="width: 5%" mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection7.toggle(row) : null"
                [checked]="selection7.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="ID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td style="width: 5%" mat-cell *matCellDef="let element"> {{element.ID}}
            </td>
          </ng-container>

          <ng-container matColumnDef="lob">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Line of Business</th>
            <td style="width: 15%" mat-cell *matCellDef="let element"> {{element.lob}}
            </td>
          </ng-container>

          <ng-container matColumnDef="subLob">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Sub LOB</th>
            <td style="width: 15%" mat-cell *matCellDef="let element">
              {{element.sublob}} </td>
          </ng-container>

          <ng-container matColumnDef="Product">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Product</th>
            <td style="width: 15%" mat-cell *matCellDef="let element">
              {{element.Product}} </td>
          </ng-container>
          <ng-container matColumnDef="ProductDetail">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Detail</th>
            <td style="width: 15%" mat-cell *matCellDef="let element">
              {{element.ProductDetail}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="relatedQuestionnairesTableColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: relatedQuestionnairesTableColumns;" class=" mat-row"></tr>

        </table>
      </div>
      <mat-paginator #paginator7 [pageSizeOptions]="[10, 20, 30 ,40,50]" [showFirstLastButtons]="true">
      </mat-paginator>

    </div>
  </mat-step> -->
</mat-horizontal-stepper>






<br>