
<fieldset>
  <legend>
    {{category.Lable}}
  </legend>

 
<app-dynamic-columns [column]="category.Columns"  (childsData)="setCategoryChildData($event)" ></app-dynamic-columns>

<br>
<br>

<div class="col-md-12 text-right"   *ngIf="category.IsMulitRecords">
  <br>

  <div class="btn-group">
      <input class="btn btn-primary " type="submit" value="Save" (click)="saveColumnsDataToTable(category)" />
  </div>
</div>
<br>
<br>
<br>
<div class="row">
  <app-table  *ngIf="childsValue.length > 0 && !isDelete " #tableSelector [tableColumns]='dataSource' [list]='category.Columns' [dynamicDataSource]='dynamicDataSources' (update)='updateChild($event)' (delete)='deleteChild($event)'></app-table>
</div>




</fieldset>