
<fieldset>
  <legend>
    {{category.Lable}}
  </legend>
<app-dynamic-columns [column]="category.Columns" [list] ="category.OriginalList" ></app-dynamic-columns>
    
<div *ngIf="category.IsMulitRecords">

  <input class="btn btn-primary" type="submit" value="Save" (click)="saveColumnsDataToTable(category)" />
</div>
<div *ngIf="childsValue.length > 0 && !isDelete ">
  <app-table #tableSelector [tableColumns]='dataSource' [list]='meregedArray' [dynamicDataSource]='dynamicDataSources' (update)='updateChild($event)' (delete)='deleteChild($event)'></app-table>
</div>
</fieldset>