
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-10">
    <!-- <h2>{{formControls.Name}}</h2> -->
    <h2>Production</h2>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li>
        <a>Production</a>
      </li>
      <li class="active">
        <strong>Quotation</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-2">
    <div class="title-action">
      <!-- <a ui-sref="pages.edit-form({id:formControls.id})" class="btn btn-primary">Edit This form</a> -->
    </div>
  </div>
</div> 

<aw-wizard #wizard> 
 <!--  <app-covers  awWizardStep ></app-covers>
  <app-quotation awWizardStep [stepTitle]="'Document'"  ></app-quotation> -->
   <aw-wizard-step [stepTitle]="'Risk'" >
  <div class="centered-content" >
      <app-risk [document] = "document" ></app-risk>
  </div>
      </aw-wizard-step> 
      <aw-wizard-step [stepTitle]="'Covers'">
          <div class="centered-content" *ngIf="document">
           

            </div>
              </aw-wizard-step>

</aw-wizard>