<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-10">
    <!-- <h2>{{formControls.Name}}</h2> -->
    <h2>Questionnaires</h2>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li>
        <a>Setup</a>
      </li>
      <li class="active">
        <strong>Questionnaires</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-2">
    <div class="title-action">
      <!-- <a ui-sref="pages.edit-form({id:formControls.id})" class="btn btn-primary">Edit This form</a> -->
    </div>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

  <div class="row">
    <div class="col-md-12">

      <div class="tabs-container">
        <div class="panel-body">

          <fieldset>
            <legend>
              Questionnaires
            </legend>
            <form #form="ngForm" (ngSubmit)="saveQuestionnaire(form)" class="{{submit?'submited':''}}">
              <div class="row">
                <div class="form-group col-md-3">
                  <label for="Name">Name</label>
                  <input name="Name" placeholder="Name" type="text" class="form-control" [(ngModel)]="questionnaireForm.Name">
                </div>
                <div class="form-group col-md-3">
                  <label for="Name2">Name2 <span class="help-block">*</span></label>
                  <input name="Name2" placeholder="Name2" type="text" class="form-control" [(ngModel)]="questionnaireForm.Name2"
                    required>
                </div>
                <div class="form-group col-md-3">
                  <label for="QustionnaireLevel">Applied on</label>
                  <select name="QustionnaireLevel" class="form-control" [(ngModel)]="questionnaireForm.QustionnaireLevel">
                    <option [ngValue]="undefined">Select</option>
                    <option *ngFor="let level of QuestionnaireLevel" [ngValue]="level.ID">{{level.Name}}</option>
                  </select>
                </div>
                <div class="form-group col-md-3">
                  <label for="LineOfBusiness">Line Of Business</label>
                  <select name="LineOfBusiness" class="form-control" [(ngModel)]="questionnaireForm.LineOfBusiness">
                    <option [ngValue]="undefined">Select</option>
                    <option *ngFor="let line of LineOfBusinesses" [ngValue]="line.ID">{{line.Name}}</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-3">
                  <label for="SubLineOfBusiness">Sub LOB</label>
                  <select name="SubLineOfBusiness" class="form-control" [(ngModel)]="questionnaireForm.SubLineOfBusiness">
                    <option [ngValue]="undefined">Select</option>
                    <option *ngFor="let sub of SubLineOfBusinesses" [ngValue]="sub.ID">{{sub.Name}}</option>
                  </select>
                </div>
                <div class="form-group col-md-3">
                  <label for="Status">Status</label>
                  <select name="Status" class="form-control" [(ngModel)]="questionnaireForm.Status">
                    <option [ngValue]="undefined">Select</option>
                    <option *ngFor="let status of LockUps" [ngValue]="status.ID">{{status.Name}}</option>
                  </select>
                </div>
                <div class="col-md-6 text-right">
                  <br>
                  <br>
                  <div class="btn-group">
                    <input class="btn btn-default" type="reset" (click)="resetForm(form)"
                      value="Reset" />
                    <input class="btn btn-primary" type="submit" value="Save" (click)="submit=true" />
                  </div>
                </div>
              </div>
            </form>
          </fieldset>

          <!-- <br>
         

          <br>
          -->

          <br>
          <mat-tab-group (selectedTabChange)="changeTab($event)">
            <mat-tab label="Questionnaires">
              <div class="col-md-12">
                <div class="html5buttons">
                  <br>
                  <div class="dt-buttons btn-group">
                    <button class="btn btn-default" [disabled]="!selection.hasValue()" mwlConfirmationPopover
                      [popoverTitle]="'Confirm'" [popoverMessage]="'are you sure to delete?'" placement="bottom"
                      (confirm)="deleteSelectedData()" ngbTooltip="Delete">
                      <img src="assets/images/Trash-can.png"></button>
                    <a class="btn btn-default buttons-csv buttons-html5" (click)="export('csv','Questionnaire')"
                      placement="bottom" ngbTooltip="Export to CSV"><span>
                        <img src="assets/images/csv.jpg"></span></a>
                    <a class="btn btn-default buttons-excel buttons-html5" (click)="export('xlsx','Questionnaire')"
                      placement="bottom" ngbTooltip="Export to Excel"><span><img src="assets/images/ExcelLogoSmall.scale-80.png"></span></a>
                    <a class="btn btn-default buttons-pdf buttons-html5" (click)="export('pdf','Questionnaire')"
                      placement="bottom" ngbTooltip="Export to PDF"><span><img src="assets/images/pdf.jpg"></span></a>
                    <a class="btn btn-default buttons-print" placement="bottom" ngbTooltip="Print Data"><span><img src="assets/images/print.jpg"></span></a>
                  </div>
                </div>
                <br>
                <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                </mat-form-field>
                <div class="x">
                  <div class="table-container">
                    <table mat-table #table [dataSource]="questionnairesDataSource" matSort>

                      <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                          </mat-checkbox>
                        </th>
                        <td style="width: 5%" mat-cell *matCellDef="let row">
                          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)">
                          </mat-checkbox>
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="ID">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                        <td style="width: 5%" mat-cell *matCellDef="let element"> {{element.ID}}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="Name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                        <td style="width: 10%" mat-cell *matCellDef="let element">
                          {{element.Name}} </td>
                      </ng-container>

                      <ng-container matColumnDef="Name2">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name2</th>
                        <td style="width: 15%" mat-cell *matCellDef="let element"> {{element.Name2}}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="APPLYON">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Apply on</th>
                        <td style="width: 15%" mat-cell *matCellDef="let element">
                          {{element.QustionnaireLevel}} </td>
                      </ng-container>

                      <ng-container matColumnDef="LINEOFBUSINESS">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Line of Business </th>
                        <td style="width: 10%" mat-cell *matCellDef="let element">
                          {{element.LineOfBusiness}} </td>
                      </ng-container>

                      <ng-container matColumnDef="SUBLINEOFBUSINESS">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sub Line of Business </th>
                        <td style="width: 10%" mat-cell *matCellDef="let element">
                          {{element.SubLineOfBusiness}} </td>
                      </ng-container>

                      <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Actions</th>
                        <td style="width: 10%" mat-cell *matCellDef="let element">
                          <i (click)="updateQuestionnaire(element)" class="fa fa-edit" placement="left" ngbTooltip="Edit"></i>
                          <i (click)="$event.stopPropagation()" class="fa fa-remove" mwlConfirmationPopover
                            [popoverTitle]="'Confirm'" [popoverMessage]="'are you sure to delete?'" placement="left"
                            (confirm)="deleteQuestionnaire(element.ID)" ngbTooltip="Delete"></i>
                        </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="questionnaireTableColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: questionnaireTableColumns;" (click)="updateQuestionnaire(row)"
                        class=" mat-row {{questionnaireForm.ID===row.ID?'active':'not-active'}}"></tr>

                    </table>
                  </div>
                  <mat-paginator #paginator [pageSizeOptions]="[10, 20, 30 ,40,50]" [showFirstLastButtons]="true"></mat-paginator>

                </div>
              </div>

            </mat-tab>
            <mat-tab label="Questiones">
              <div class="col-md-12">
                <div class="html5buttons">
                  <br>
                  <div class="dt-buttons btn-group">
                    <button class="btn btn-default" [disabled]="!selection2.hasValue()" mwlConfirmationPopover
                      [popoverTitle]="'Confirm'" [popoverMessage]="'are you sure to delete?'" placement="bottom"
                      (confirm)="deleteSelectedData()" ngbTooltip="Delete">
                      <img src="assets/images/Trash-can.png"></button>
                    <a class="btn btn-default buttons-csv buttons-html5" (click)="export('csv','Question')" placement="bottom"
                      ngbTooltip="Export to CSV"><span>
                        <img src="assets/images/csv.jpg"></span></a>
                    <a class="btn btn-default buttons-excel buttons-html5" (click)="export('xlsx','Question')"
                      placement="bottom" ngbTooltip="Export to Excel"><span><img src="assets/images/ExcelLogoSmall.scale-80.png"></span>
                    </a>
                    <a class="btn btn-default buttons-pdf buttons-html5" (click)="export('pdf','Question')" placement="bottom"
                      ngbTooltip="Export to PDF"><span><img src="assets/images/pdf.jpg"></span></a>
                    <a class="btn btn-default buttons-print" placement="bottom" ngbTooltip="Print Data"><span><img src="assets/images/print.jpg"></span></a>
                  </div>
                </div>
                <div class="col-md-3">
                  <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                  </mat-form-field>
                </div>
                <div class="col-md-3">

                </div>
                <div class="x">
                  <div class="table-container">
                    <table mat-table #table2 [dataSource]="questionsDataSource" matSort>

                      <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                          <mat-checkbox (change)="$event ? masterToggle2() : null" [checked]="selection2.hasValue() && isAllSelected2()"
                            [indeterminate]="selection2.hasValue() && !isAllSelected2()">
                          </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection2.toggle(row) : null"
                            [checked]="selection2.isSelected(row)">
                          </mat-checkbox>
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="ID">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                        <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
                      </ng-container>

                      <ng-container matColumnDef="Name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                        <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
                      </ng-container>

                      <ng-container matColumnDef="Name2">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name2</th>
                        <td mat-cell *matCellDef="let element"> {{element.Name2}} </td>
                      </ng-container>

                      <ng-container matColumnDef="ORDER">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Order</th>
                        <td mat-cell *matCellDef="let element">{{element.QustionOrder}}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="QUESTIONTYPE">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Question Type</th>
                        <td mat-cell *matCellDef="let element">{{element.QustionType}}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="QUESTIONNAIRE">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Question Type</th>
                        <td mat-cell *matCellDef="let element">{{getQuestionnaireName(element.QuestionnaireID)}}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Actions</th>
                        <td mat-cell *matCellDef="let element">
                          <i (click)="updateQuestion(element)" class="fa fa-edit" placement="left" ngbTooltip="Edit"></i>
                          <i (click)="$event.stopPropagation()" class="fa fa-remove" mwlConfirmationPopover
                            [popoverTitle]="'Confirm'" [popoverMessage]="'are you sure to delete?'" placement="left"
                            (confirm)="deleteQuestion(element.ID)" ngbTooltip="Delete"></i>
                        </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="questionTableColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: questionTableColumns;" (click)="updateQuestion(row)"
                        class=" mat-row {{questionForm.ID===row.ID?'active':'not-active'}}"></tr>

                    </table>
                  </div>
                  <mat-paginator #paginator2 [pageSizeOptions]="[10, 20, 30 ,40,50]" [showFirstLastButtons]="true"></mat-paginator>
                </div>

                <div class="hr-line-dashed"></div>


                <div class="col-md-12 extra-form" *ngIf="extraForm==='questions'">

                  <fieldset>
                    <legend>
                      Questions
                    </legend>
                    <form #form="ngForm" (ngSubmit)="saveQuestion(form)" class="{{submit2?'submited':''}}">
                      <div class="row">
                        <div class="form-group col-md-3">
                          <label for="Name">Name</label>
                          <input name="Name" placeholder="Name" type="text" class="form-control" [(ngModel)]="questionForm.Name">
                        </div>
                        <div class="form-group col-md-3">
                          <label for="Name2">Name2 <span class="help-block">*</span></label>
                          <input name="Name2" placeholder="Name2" type="text" class="form-control" [(ngModel)]="questionForm.Name2"
                            required>
                        </div>
                        <div class="form-group col-md-3">
                          <label for="Description">Description</label>
                          <input name="Description" placeholder="Description" type="text" class="form-control"
                            [(ngModel)]="questionForm.Description">
                        </div>
                        <div class="form-group col-md-3">
                          <label for="Description2">Description2</label>
                          <input name="Description2" placeholder="Description2" type="text" class="form-control"
                            [(ngModel)]="questionForm.Description2">
                        </div>

                      </div>
                      <div class="row">
                        <div class="form-group col-md-3">
                          <label for="QustionOrder">Order</label>
                          <input name="QustionOrder" placeholder="Order" type="number" class="form-control" [(ngModel)]="questionForm.QustionOrder">
                        </div>
                        <div class="form-group col-md-3">
                          <label for="QustionType">Question Type</label>
                          <select name="QustionType" (change)="onQuestionType(questionForm.QustionType)" class="form-control"
                            [(ngModel)]="questionForm.QustionType">
                            <option [ngValue]="undefined">Select</option>
                            <option *ngFor="let level of QuestionType" [ngValue]="level.ID">{{level.Name}}</option>
                          </select>
                        </div>
                        <div class="form-group col-md-3">
                          <label for="QuestionnaireID">Questionnaire</label>
                          <select name="QuestionnaireID" class="form-control" [(ngModel)]="questionForm.QuestionnaireID">
                            <option [ngValue]="undefined">Select</option>
                            <option *ngFor="let questionnaire of questionnaires" [ngValue]="questionnaire.ID">{{questionnaire.Name}}</option>
                          </select>
                        </div>
                        <div class="form-group col-md-3">
                          <label for="Status">Status</label>
                          <select name="Status" class="form-control" [(ngModel)]="questionForm.Status">
                            <option [ngValue]="undefined">Select</option>
                            <option *ngFor="let status of LockUps" [ngValue]="status.ID">{{status.Name}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-md-3" *ngIf="minor.MinorCode  == 5">
                          <label for="LockUpID">Lockup List</label>
                          <select name="LockUpID" class="form-control" [(ngModel)]="questionForm.LockUpID">
                            <option [ngValue]="undefined">Select</option>
                            <option *ngFor="let type of QuestionLockUp" [ngValue]="type.ID">{{type.Name}}</option>
                          </select>
                        </div>
                        <div class="col-md-12 text-right">
                          <br>
                          <br>
                          <div class="btn-group">
                            <input class="btn btn-default" type="reset" (click)="questionForm={};submit2=false;resetForm(form)"
                              value="Reset" />
                            <input class="btn btn-primary" type="submit" value="Save" (click)="submit2=true" />
                          </div>
                        </div>
                      </div>
                    </form>
                  </fieldset>
                </div>


                <div class="col-md-12" *ngIf="(questionForm.QustionType===156||questionForm.QustionType===157)&&questionForm.selected">

                  <fieldset>
                    <legend>Answers</legend>
                    <div class="html5buttons">
                      <br>
                      <div class="dt-buttons btn-group">
                        <button class="btn btn-default" [disabled]="!selection2.hasValue()" mwlConfirmationPopover
                          [popoverTitle]="'Confirm'" [popoverMessage]="'are you sure to delete?'" placement="bottom"
                          (confirm)="deleteSelectedData()" ngbTooltip="Delete">
                          <img src="assets/images/Trash-can.png"></button>
                        <a class="btn btn-default buttons-csv buttons-html5" (click)="export('csv','Answer')" placement="bottom"
                          ngbTooltip="Export to CSV"><span>
                            <img src="assets/images/csv.jpg"></span></a>
                        <a class="btn btn-default buttons-excel buttons-html5" (click)="export('xlsx','Answer')"
                          placement="bottom" ngbTooltip="Export to Excel"><span><img src="assets/images/ExcelLogoSmall.scale-80.png"></span>
                        </a>
                        <a class="btn btn-default buttons-pdf buttons-html5" (click)="export('pdf','Answer')" placement="bottom"
                          ngbTooltip="Export to PDF"><span><img src="assets/images/pdf.jpg"></span></a>
                        <a class="btn btn-default buttons-print" placement="bottom" ngbTooltip="Print Data"><span><img
                              src="assets/images/print.jpg"></span></a>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                      </mat-form-field>
                    </div>
                    <div class="col-md-3">

                    </div>
                    <div class="x">
                      <div class="table-container">
                        <table mat-table #table3 [dataSource]="answersDataSource" matSort>

                          <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef>
                              <mat-checkbox (change)="$event ? masterToggle2() : null" [checked]="selection2.hasValue() && isAllSelected2()"
                                [indeterminate]="selection2.hasValue() && !isAllSelected2()">
                              </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let row">
                              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection2.toggle(row) : null"
                                [checked]="selection2.isSelected(row)">
                              </mat-checkbox>
                            </td>
                          </ng-container>

                          <ng-container matColumnDef="ID">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                            <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
                          </ng-container>

                          <ng-container matColumnDef="Name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                            <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
                          </ng-container>

                          <ng-container matColumnDef="Name2">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name2</th>
                            <td mat-cell *matCellDef="let element"> {{element.Name2}} </td>
                          </ng-container>

                          <ng-container matColumnDef="ORDER">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Order</th>
                            <td mat-cell *matCellDef="let element">{{element.AnswerOrder}}
                            </td>
                          </ng-container>

                          <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef>Actions</th>
                            <td mat-cell *matCellDef="let element">
                              <i (click)="updateAnswer(element)" class="fa fa-edit" placement="left" ngbTooltip="Edit"></i>
                              <i (click)="$event.stopPropagation()" class="fa fa-remove" mwlConfirmationPopover
                                [popoverTitle]="'Confirm'" [popoverMessage]="'are you sure to delete?'" placement="left"
                                (confirm)="deleteAnswer(element.ID)" ngbTooltip="Delete"></i>
                            </td>
                          </ng-container>

                          <tr mat-header-row *matHeaderRowDef="answersTableColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: answersTableColumns;" (click)="updateAnswer(row)"
                            class=" mat-row {{answerForm.ID===row.ID?'active':'not-active'}}"></tr>

                        </table>
                      </div>
                      <mat-paginator #paginator2 [pageSizeOptions]="[10, 20, 30 ,40,50]" [showFirstLastButtons]="true"></mat-paginator>
                    </div>

                    <div class="hr-line-dashed"></div>


                    <div class="col-md-12 extra-form">


                      <form #form="ngForm" (ngSubmit)="saveAnswer(form)" class="{{submit3?'submited':''}}">
                        <div class="row">
                          <div class="form-group col-md-3">
                            <label for="Name">Name</label>
                            <input name="Name" placeholder="Name" type="text" class="form-control" [(ngModel)]="answerForm.Name">
                          </div>
                          <div class="form-group col-md-3">
                            <label for="Name2">Name2 <span class="help-block">*</span></label>
                            <input name="Name2" placeholder="Name2" type="text" class="form-control" [(ngModel)]="answerForm.Name2"
                              required>
                          </div>
                          <div class="form-group col-md-3">
                            <label for="AnswerOrder">Order</label>
                            <input name="AnswerOrder" placeholder="Order" type="number" class="form-control"
                              [(ngModel)]="answerForm.AnswerOrder">
                          </div>
                          <div class="col-md-3 text-right">
                            <br>
                            <br>
                            <div class="btn-group">
                              <input class="btn btn-default" type="reset" (click)="answerForm={};submit3=false;resetForm(form)"
                                value="Reset" />
                              <input class="btn btn-primary" type="submit" value="Save" (click)="submit3=true" />
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
</fieldset>
                </div>
                
              </div>
            </mat-tab>

          </mat-tab-group>


        </div>


      </div>
    </div>

  </div>
</div>