<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
      <div class="col-md-12">
  
        <div class="tabs-container">
          <div class="panel-body">
      <fieldset>
        <legend>
          Product Subject types
        </legend>
        <form #form="ngForm" (ngSubmit)="saveSubjectType(form)" class="{{submit3?'submited':''}}">

          <div class="row">

         

            <div class="form-group col-md-3">
              <label for="ProductDetailsID">Product Detail</label>
              <select name="ProductDetailsID"  required="!selectedProductDetail.ID"  class="form-control" [(ngModel)]="subjectTypeForm.ProductDetailsID" (change)="loadRelatedSubjectType()">
                <option [ngValue]="undefined">Select</option>
                <option *ngFor="let ProductDetail of productDetails" [ngValue]="ProductDetail.ID">{{ProductDetail.SubLineDesc}}</option>
              </select>
            </div>


            <div class="form-group col-md-3">
              <label for="LineOfBusniess">Line of Business <span class="help-block">*</span></label>
              <select name="LineOfBusniess" class="form-control" [(ngModel)]="subjectTypeForm.LineOfBusniess"
                disabled>
                <option [ngValue]="undefined">Select</option>
                <option *ngFor="let  Lob of Lobs" [ngValue]="Lob.ID">{{Lob.Name}}</option>
              </select>
            </div>


            <div class="form-group col-md-3">
              <label for="SubLineOfBusniess">Sub Line of Business</label>
              <select name="SubLineOfBusniess" class="form-control" [(ngModel)]="subjectTypeForm.SubLineOfBusniess"
               disabled>
                <option [ngValue]="undefined">Select</option>
                <option *ngFor="let  SubLOB of SubLobs" [ngValue]="SubLOB.ID">{{SubLOB.Name}}</option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label for="SubjectTypeID">Subject Type</label>
              <select name="SubjectTypeID" placeholder="Subject Type" class="form-control" [disabled]="subjectTypeForm.selected"  [(ngModel)]="subjectTypeForm.SubjectTypeID">
                <option [ngValue]="undefined">Select</option>
                <option *ngFor="let  SubjectType of subjectTypes" [ngValue]="SubjectType.ID">{{SubjectType.Name}}</option>
              </select>
            </div>
          </div>

          <div class="row">

           


            <div class="form-group col-md-3">
              <label for="ExcessPerc">Excess %</label>
              <input name="ExcessPerc" placeholder="Excess %" type="number" class="form-control"
                [(ngModel)]="subjectTypeForm.ExcessPerc">
            </div>
            <div class="form-group col-md-3">
              <label for="MinExcess">Min Excess Amount</label>
              <input name="MinExcess" placeholder="Min Excess Amount" type="number" class="form-control"
                [(ngModel)]="subjectTypeForm.MinExcess">
            </div>
            <div class="form-group col-md-3">
              <label for="MaxExcess">Max Excess Amount</label>
              <input name="MaxExcess" placeholder="Max Excess Amount" type="number" class="form-control"
                [(ngModel)]="subjectTypeForm.MaxExcess">
            </div>
            <div class="form-group col-md-3">
              <label for="ExcessFrom">Excess From <span class="help-block">*</span></label>
              <select name="ExcessFrom" placeholder="Excess From" class="form-control" [(ngModel)]="subjectTypeForm.ExcessFrom"
                required>
                <option [ngValue]="undefined">Select</option>
                <option *ngFor="let excessFrom of excessFroms" [ngValue]="excessFrom.ID">{{excessFrom.Name}}</option>
              </select>
            </div>
          </div>

          <div class="row">
          

            <div class="col-md-11 text-right">
              <br>
              <br>
              <div class="btn-group">
                <input class="btn btn-default" type="reset" (click)="resetForm(form)" value="Reset" />
                <input class="btn btn-primary" type="submit" value="Save" (click)="submit3=true" />
              </div>
            </div>
          </div>
        </form>
      </fieldset>
    </div>
    <br >
    <div >
       
        <div class="form-group col-md-3">
            <label for="ProductDetailsID">Product Detail</label>
            <select name="ProductDetailsID" class="form-control" [ngClass]="{'ng-dirty ng-invalid ng-touched': hasSelected}" 
             (change)="loadRelatedSubjectType()" [(ngModel)]="subjectTypeForm.ProductDetailsID">
              <option [ngValue]="undefined">Select</option>
              <option *ngFor="let ProductDetail of productDetails" [ngValue]="ProductDetail.ID">{{ProductDetail.SubLineDesc}}</option>
            </select>
          </div>
    </div>
    <br>
    <br>
    <br> <br>
    <div class="col-md-5">

      <br>
      <div class="table-container">
        <table mat-table #table4 [dataSource]="subjectTypesPDDataSource" matSort>

          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle4() : null" [checked]="selection4.hasValue() && isAllSelected4()"
                [indeterminate]="selection4.hasValue() && !isAllSelected4()">
              </mat-checkbox>
            </th>
            <td style="width: 5%" mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection4.toggle(row) : null"
                [checked]="selection4.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          


          <ng-container matColumnDef="SubjectType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Subject Type</th>
            <td style="width: 15%" mat-cell *matCellDef="let element"> {{element.Name}}
            </td>
          </ng-container>

          <ng-container matColumnDef="ParentSubjectType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Parent Subject Type</th>
            <td style="width: 15%" mat-cell *matCellDef="let element">
              {{element.SubjectTypeDesc}} </td>
          </ng-container>
          <ng-container matColumnDef="lob">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Line of Business</th>
            <td style="width: 15%" mat-cell *matCellDef="let element"> {{element.LineOfBusniessDesc}}
            </td>
          </ng-container>

          <ng-container matColumnDef="subLob">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Sub LOB</th>
            <td style="width: 15%" mat-cell *matCellDef="let element">
              {{element.SubLineOfBusniessDesc}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="subjectTypesLobTableColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: subjectTypesLobTableColumns;" class=" mat-row"></tr>

        </table>
      </div>
      <mat-paginator #paginator4 [pageSizeOptions]="[10, 20, 30 ,40,50]" [showFirstLastButtons]="true"></mat-paginator>

    </div>

    <div class="col-md-2 text-center groups-arrows">
      <div>
        <i class="fa fa-arrow-right" (click)="addProductSubjectTypes()"></i>
      </div>

      <div>
        <i class="fa fa-arrow-left" (click)="deleteProductSubjectType()"></i>
      </div>

    </div>

    <div class="col-md-5">

      <br>
      <div class="table-container">
        <table mat-table #table5 [dataSource]="subjectTypesLobDataSource" matSort>

          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle5() : null" [checked]="selection5.hasValue() && isAllSelected5()"
                [indeterminate]="selection5.hasValue() && !isAllSelected5()">
              </mat-checkbox>
            </th>
            <td style="width: 5%" mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection5.toggle(row) : null"
                [checked]="selection5.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container >

      

          <ng-container matColumnDef="SubjectType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Subject Type</th>
            <td style="width: 15%" mat-cell *matCellDef="let element"> {{element.SubjectTypeDesc}}
            </td>
          </ng-container>

          <ng-container matColumnDef="ParentSubjectType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Parent Subject Type</th>
            <td style="width: 15%" mat-cell *matCellDef="let element">
              {{element.SubjectTypeParentDesc}} </td>
          </ng-container>
          <ng-container matColumnDef="lob">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Line of Business</th>
            <td style="width: 15%" mat-cell *matCellDef="let element"> {{element.LineOfBusniessDesc}}
            </td>
          </ng-container>

          <ng-container matColumnDef="subLob">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Sub LOB</th>
            <td style="width: 15%" mat-cell *matCellDef="let element">
              {{element.SubLineOfBusniessDesc}} </td>
          </ng-container>
          <ng-container matColumnDef="Product">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Product</th>
            <td style="width: 15%" mat-cell *matCellDef="let element">
              {{element.ProductDesc}} </td>
          </ng-container>
      

          <tr mat-header-row *matHeaderRowDef="subjectTypesPDTableColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: subjectTypesPDTableColumns;" 
          class=" mat-row {{subjectTypeForm.ID===row.ID?'active':'not-active'}}"
          (click)="updateSubjectType(row)"
        ></tr>

        </table>
      </div>
      <mat-paginator #paginator5 [pageSizeOptions]="[10, 20, 30 ,40,50]" [showFirstLastButtons]="true"></mat-paginator>

    </div>

    <div class="hr-line-dashed"></div>



  </div>  </div>
</div>

</div>
