<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-10">
        <!-- <h2>{{formControls.Name}}</h2> -->
        <h2>Organizations</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Organizations</a>
            </li>
            <li class="active">
                <strong>Countries</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-2">
        <div class="title-action">
            <!-- <a ui-sref="pages.edit-form({id:formControls.id})" class="btn btn-primary">Edit This form</a> -->
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-md-12">

            <div class="tabs-container">
                <div class="panel-body">

                    <fieldset>
                        <legend>
                            Countries
                        </legend>
                        <form #form="ngForm" (ngSubmit)="saveCountry(form)" class="{{submit?'submited':''}}">
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label for="Name">Name <span class="help-block">*</span></label>
                                    <input name="Name" placeholder="Name" type="text" class="form-control" [(ngModel)]="countryForm.Name"
                                        required>
                                    <!-- <span class="help-block" *ngIf="form.controls.Name&&form.controls.Name.invalid &&( form.controls.Name.touched|| form.controls.Name.dirty||form.submitted)">required</span> -->
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="Name2">Name 2</label>
                                    <input name="Name2" placeholder="Name 2" type="text" class="form-control"
                                        [(ngModel)]="countryForm.Name2">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="Nationality">Nationality</label>
                                    <input name="Nationality" placeholder="Nationality" type="text" class="form-control"
                                        [(ngModel)]="countryForm.Nationality">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="CurrencyCode">Currency Code <span class="help-block">*</span></label>
                                    <!-- <input name="ST_CUR_COD" type="text" class="form-control" [(ngModel)]="countryForm.ST_CUR_COD"> -->
                                    <select name="CurrencyCode" placeholder="Currency Code" class="form-control"
                                        [(ngModel)]="countryForm.CurrencyCode" required>
                                        <option [ngValue]="undefined">Select</option>
                                        <option *ngFor="let currency of currencies" [ngValue]="currency.Code">{{currency.Name}}</option>
                                    </select>
                                    <!-- <span class="help-block" *ngIf="form.controls.ST_CUR_COD&&form.controls.ST_CUR_COD.invalid &&( form.controls.ST_CUR_COD.touched|| form.controls.ST_CUR_COD.dirty||form.submitted)">required</span> -->


                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label for="ReferenceNo">Reference No</label>
                                    <input name="ReferenceNo" placeholder="Reference No" type="text" class="form-control"
                                        [(ngModel)]="countryForm.ReferenceNo">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="Status">Status <span class="help-block">*</span></label>
                                    <select name="Status" placeholder="Status" class="form-control" [(ngModel)]="countryForm.Status"
                                        required>
                                        <option [ngValue]="undefined">Select</option>

                                    <option *ngFor="let status of LockUps" [ngValue]="status.ID">{{status.Name}}</option>
                                    </select>
                                    <!-- <span class="help-block" *ngIf="form.controls.Loc_Status&&form.controls.Loc_Status.invalid &&( form.controls.Loc_Status.touched|| form.controls.Loc_Status.dirty||form.submitted)">required</span> -->
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="PhoneCode">Phone Code</label>
                                    <input name="PhoneCode" placeholder="Phone Code" type="text" class="form-control"
                                        [(ngModel)]="countryForm.PhoneCode">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label for="countryFlag">Country Flag</label>

                                    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                        <div class="form-control" data-trigger="fileinput">

                                            <span class="fileinput-filename">
                                                <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                                {{replaceFileName(countryForm.Flag)}}
                                            </span>
                                        </div>

                                        <span class="input-group-addon btn btn-default btn-file" *ngIf="!countryForm.Flag">
                                            <label for="FLAG" class="custom-file-upload">
                                                <i class="fa fa-cloud-upload"></i> Upload
                                            </label>

                                        </span>
                                        <input id="FLAG" name="Flag" type="file" [(ngModel)]="countryForm.Flag"
                                            ng2FileSelect [uploader]="uploader">
                                        <a *ngIf="countryForm.Flag" (click)="countryForm.Flag=null" class="input-group-addon btn btn-default fileinput-exists"
                                            data-dismiss="fileinput">Remove</a>
                                    </div>

                                </div>
                                <div class="col-md-7 text-right">
                                    <br>
                                    <br>
                                    <div class="btn-group">
                                        <input class="btn btn-default" type="reset" (click)="countryForm={};submit=false;resetForm(form)"
                                            value="Reset" />
                                        <input class="btn btn-primary" type="submit" value="Save" (click)="submit=true" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </fieldset>

                    <br>

                    <mat-tab-group (selectedTabChange)="showCityAreaForm($event)">
                        <mat-tab label="Countries">

                            <div class="col-md-12">
                                <div class="html5buttons">
                                    <br>
                                    <div class="dt-buttons btn-group">
                                        <button class="btn btn-default" [disabled]="!selection.hasValue()"
                                            mwlConfirmationPopover [popoverTitle]="'Confirm'" [popoverMessage]="'are you sure to delete?'"
                                            placement="bottom" (confirm)="deleteSelectedData()" ngbTooltip="Delete">
                                            <img src="assets/images/Trash-can.png"></button>
                                        <a class="btn btn-default buttons-csv buttons-html5" (click)="export('csv','country')"
                                            placement="bottom" ngbTooltip="Export to CSV"><span>
                                                <img src="assets/images/csv.jpg"></span></a>
                                        <a class="btn btn-default buttons-excel buttons-html5" (click)="export('excel','country')"
                                            placement="bottom" ngbTooltip="Export to Excel"><span><img src="assets/images/ExcelLogoSmall.scale-80.png"></span></a>
                                        <a class="btn btn-default buttons-pdf buttons-html5" (click)="export('pdf','country')"
                                            placement="bottom" ngbTooltip="Export to PDF"><span><img src="assets/images/pdf.jpg"></span></a>
                                        <a class="btn btn-default buttons-print" placement="bottom" ngbTooltip="Print Data"><span><img
                                                    src="assets/images/print.jpg"></span></a>
                                    </div>
                                </div>
                                <br>
                                <mat-form-field>
                                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                                </mat-form-field>
                                <div class="x">
                                    <div class="table-container">
                                        <table mat-table #table [dataSource]="countriesDataSource" matSort>

                                            <ng-container matColumnDef="select">
                                                <th mat-header-cell *matHeaderCellDef>
                                                    <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                                                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                                                    </mat-checkbox>
                                                </th>
                                                <td style="width: 5%" mat-cell *matCellDef="let row">
                                                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                                                        [checked]="selection.isSelected(row)">
                                                    </mat-checkbox>
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="ID">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                                                <td style="width: 5%" mat-cell *matCellDef="let element">
                                                    {{element.ID}}
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="NAME">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                                                <td style="width: 15%" mat-cell *matCellDef="let element">
                                                    {{element.Name}}
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="NAME2">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name2</th>
                                                <td style="width: 15%" mat-cell *matCellDef="let element">
                                                    {{element.Name2}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="NATIONALITY">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nationality</th>
                                                <td style="width: 20%" mat-cell *matCellDef="let element">
                                                    {{element.Nationality}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="ST_CUR_CODE">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Currency code
                                                </th>
                                                <td style="width: 10%" mat-cell *matCellDef="let element">
                                                    {{element.CurrencyCode}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="PHONE_CODE">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone code </th>
                                                <td style="width: 5%" mat-cell *matCellDef="let element">
                                                    {{element.PhoneCode}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="LOC_STATUS">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                                                <td style="width: 10%" mat-cell *matCellDef="let element">
                                                    {{getStatusName(element.Status)}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="FLAG">
                                                <th mat-header-cell *matHeaderCellDef>Flag </th>
                                                <td style="width: 5%" mat-cell *matCellDef="let element">
                                                    <img style="height: 30px;" src="{{element.Flag}}"></td>
                                            </ng-container>

                                            <ng-container matColumnDef="actions">
                                                <th mat-header-cell *matHeaderCellDef>Actions</th>
                                                <td style="width: 20%" mat-cell *matCellDef="let element">
                                                    <i (click)="updateCountry(element)" class="fa fa-edit" placement="left"
                                                        ngbTooltip="Edit"></i>
                                                    <i (click)="$event.stopPropagation()" class="fa fa-remove" mwlConfirmationPopover [popoverTitle]="'Confirm'"
                                                        [popoverMessage]="'are you sure to delete?'" placement="left"
                                                        (confirm)="deleteCountry(element.ID)" ngbTooltip="Delete"></i>
                                                </td>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="countryTableColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: countryTableColumns;" (click)="updateCountry(row)"
                                                class=" mat-row {{countryForm.ID===row.ID?'active':'not-active'}}"></tr>

                                        </table>
                                    </div>
                                    <mat-paginator #paginator [pageSizeOptions]="[10, 20, 30 ,40,50]"
                                        [showFirstLastButtons]="true"></mat-paginator>

                                </div>
                            </div>

                        </mat-tab>
                        <mat-tab label="Cities">
                            <div class="col-md-12">
                                <div class="html5buttons">
                                    <br>
                                    <div class="dt-buttons btn-group">
                                        <button class="btn btn-default" [disabled]="!selection2.hasValue()"
                                            mwlConfirmationPopover [popoverTitle]="'Confirm'" [popoverMessage]="'are you sure to delete?'"
                                            placement="bottom" (confirm)="deleteSelectedData()" ngbTooltip="Delete">
                                            <img src="assets/images/Trash-can.png"></button>
                                        <a class="btn btn-default buttons-csv buttons-html5" (click)="export('csv','city')"
                                            placement="bottom" ngbTooltip="Export to CSV"><span>
                                                <img src="assets/images/csv.jpg"></span></a>
                                        <a class="btn btn-default buttons-excel buttons-html5" (click)="export('excel','city')"
                                            placement="bottom" ngbTooltip="Export to Excel"><span><img src="
                                            assets/images/ExcelLogoSmall.scale-80.png">
                                            </span> </a>
                                        <a class="btn btn-default buttons-pdf buttons-html5" (click)="export('pdf','city')"
                                            placement="bottom" ngbTooltip="Export to PDF"><span><img src="assets/images/pdf.jpg"></span></a>
                                        <a class="btn btn-default buttons-print" placement="bottom" ngbTooltip="Print Data"><span><img
                                                    src="assets/images/print.jpg"></span></a>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <mat-select placeholder="Country" (selectionChange)="reloadCityTable(cityForm.CountryID)"
                                            [(ngModel)]="cityForm.CountryID">
                                            <mat-option [value]=""> All </mat-option>
                                            <mat-option *ngFor="let country of countries" [value]="country.ID">
                                                {{country.Name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="x">
                                    <div class="table-container">
                                        <table mat-table #table2 [dataSource]="citiesDataSource" matSort>

                                            <ng-container matColumnDef="select">
                                                <th mat-header-cell *matHeaderCellDef>
                                                    <mat-checkbox (change)="$event ? masterToggle2() : null" [checked]="selection2.hasValue() && isAllSelected2()"
                                                        [indeterminate]="selection2.hasValue() && !isAllSelected2()">
                                                    </mat-checkbox>
                                                </th>
                                                <td mat-cell *matCellDef="let row">
                                                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection2.toggle(row) : null"
                                                        [checked]="selection2.isSelected(row)">
                                                    </mat-checkbox>
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="ID">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                                                <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="NAME">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                                                <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="NAME2">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name2</th>
                                                <td mat-cell *matCellDef="let element"> {{element.Name2}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="ST_CNT_ID">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
                                                <td mat-cell *matCellDef="let element">{{getCountryName(element.CountryID)}}
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="actions">
                                                <th mat-header-cell *matHeaderCellDef>Actions</th>
                                                <td mat-cell *matCellDef="let element">
                                                    <i (click)="updateCity(element)" class="fa fa-edit" placement="left"
                                                        ngbTooltip="Edit"></i>
                                                    <i (click)="$event.stopPropagation()" class="fa fa-remove" mwlConfirmationPopover [popoverTitle]="'Confirm'"
                                                        [popoverMessage]="'are you sure to delete?'" placement="left"
                                                        (confirm)="deleteCity(element.ID)" ngbTooltip="Delete"></i>
                                                </td>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="cityTableColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: cityTableColumns;" (click)="updateCity(row)"
                                                class=" mat-row {{cityForm.ID===row.ID?'active':'not-active'}}"></tr>

                                        </table>
                                    </div>
                                    <mat-paginator #paginator2 [pageSizeOptions]="[10, 20, 30 ,40,50]"
                                        [showFirstLastButtons]="true"></mat-paginator>
                                </div>

                                <div class="hr-line-dashed"></div>


                                <div class="col-md-12 extra-form" *ngIf="extraForm==='city'">

                                    <fieldset class="animated fadeInDown">
                                        <legend>
                                            City
                                        </legend>
                                        <form #form="ngForm" (ngSubmit)="saveCity(form)" class="{{submit2?'submited':''}}">
                                            <div class="row">
                                                <div class="form-group col-md-3">
                                                    <label for="Name">Name <span class="help-block">*</span></label>
                                                    <input name="Name" placeholder="Name" type="text" class="form-control"
                                                        [(ngModel)]="cityForm.Name" required>
                                                    <!-- <span class="help-block" *ngIf="form.controls.Name&&form.controls.Name.invalid &&( form.controls.Name.touched|| form.controls.Name.dirty||form.submitted)">required</span> -->
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="NAME2">Name 2</label>
                                                    <input name="Name2" placeholder="Name 2" type="text" class="form-control"
                                                        [(ngModel)]="cityForm.Name2">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="CountryID">Country <span class="help-block">*</span></label>
                                                    <select name="CountryID" class="form-control" [(ngModel)]="cityForm.CountryID"
                                                        required>
                                                        <option [ngValue]="undefined">Select</option>

                                                        <option *ngFor="let country of countries" [ngValue]="country.ID">{{country.Name}}</option>
                                                    </select>
                                                    <!-- <span class="help-block" *ngIf="form.controls.ST_CNT_ID&&form.controls.ST_CNT_ID.invalid &&( form.controls.ST_CNT_ID.touched|| form.controls.ST_CNT_ID.dirty||form.submitted)">required</span> -->
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="ReferenceNo">Reference No</label>
                                                    <input name="ReferenceNo" placeholder="Reference No" type="text"
                                                        class="form-control" [(ngModel)]="cityForm.ReferenceNo">
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-md-3">
                                                    <label for="Status">Status <span class="help-block">*</span></label>
                                                    <select name="Status" placeholder="Status" class="form-control"
                                                        [(ngModel)]="cityForm.Status" required>
                                                        <option [ngValue]="undefined">Select</option>
                                                    <option *ngFor="let status of LockUps" [ngValue]="status.ID">{{status.Name}}</option>

                                                    </select>
                                                    <!-- <span class="help-block" *ngIf="form.controls.Loc_Status&&form.controls.Loc_Status.invalid &&( form.controls.Loc_Status.touched|| form.controls.Loc_Status.dirty||form.submitted)">required</span> -->
                                                </div>
                                                <div class="col-md-8 text-right">
                                                    <br>
                                                    <br>
                                                    <input class="btn btn-default" type="reset" (click)="cityForm={};submit2=false;resetForm(form)"
                                                        value="Reset" />

                                                    <input class="btn btn-primary" type="submit" value="Save" (click)="submit2=true" />
                                                </div>
                                            </div>
                                        </form>
                                    </fieldset>
                                </div>

                            </div>
                        </mat-tab>
                        <mat-tab label="Areas">
                            <div class="col-md-12">
                                <div class="html5buttons">
                                    <div class="dt-buttons btn-group">
                                        <button class="btn btn-default" [disabled]="!selection3.hasValue()"
                                            mwlConfirmationPopover [popoverTitle]="'Confirm'" [popoverMessage]="'are you sure to delete?'"
                                            placement="bottom" (confirm)="deleteSelectedData()" ngbTooltip="Delete">
                                            <img src="assets/images/Trash-can.png"></button>
                                        <a class="btn btn-default buttons-csv buttons-html5" (click)="export('csv','area')"
                                            placement="bottom" ngbTooltip="Export to CSV"><span>
                                                <img src="assets/images/csv.jpg"></span></a>
                                        <a class="btn btn-default buttons-excel buttons-html5" (click)="export('excel','area')"
                                            placement="bottom" ngbTooltip="Export to Excel"><span><img src="assets/images/ExcelLogoSmall.scale-80.png"></span></a>
                                        <a class="btn btn-default buttons-pdf buttons-html5" (click)="export('pdf','area')"
                                            placement="bottom" ngbTooltip="Export to PDF"><span><img src="assets/images/pdf.jpg"></span></a>
                                        <a class="btn btn-default buttons-print" placement="bottom" ngbTooltip="Print Data"><span><img
                                                    src="assets/images/print.jpg"></span></a>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <mat-form-field>
                                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field>
                                            <mat-select placeholder="Country" (selectionChange)="reloadCityTable(areaForm.CountryID)"
                                                [(ngModel)]="areaForm.CountryID">
                                                <mat-option [value]=""> All </mat-option>
                                                <mat-option *ngFor="let country of countries" [value]="country.ID">
                                                    {{country.Name}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field>
                                            <mat-select placeholder="city" [disabled]="!cities ||cities.length===0"
                                                [(ngModel)]="areaForm.CityID" (selectionChange)="reloadAreaTable(areaForm.CountryID,areaForm.CityID)">
                                                <mat-option [value]=""> All </mat-option>
                                                <mat-option *ngFor="let city of cities" [value]="city.ID">
                                                    {{city.Name}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="x">
                                    <div class="table-container">
                                        <table mat-table #table3 [dataSource]="areasDataSource" matSort>
                                            <ng-container matColumnDef="select">
                                                <th mat-header-cell *matHeaderCellDef>
                                                    <mat-checkbox (change)="$event ? masterToggle3() : null" [checked]="selection3.hasValue() && isAllSelected3()"
                                                        [indeterminate]="selection3.hasValue() && !isAllSelected3()">
                                                    </mat-checkbox>
                                                </th>
                                                <td mat-cell *matCellDef="let row">
                                                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection3.toggle(row) : null"
                                                        [checked]="selection3.isSelected(row)">
                                                    </mat-checkbox>
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="ID">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>ID </th>
                                                <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
                                            </ng-container>
                                            <ng-container matColumnDef="NAME">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                                                <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
                                            </ng-container>
                                            <ng-container matColumnDef="NAME2">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name2 </th>
                                                <td mat-cell *matCellDef="let element"> {{element.Name2}} </td>
                                            </ng-container>
                                            <ng-container matColumnDef="ST_CNT_ID">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Country </th>
                                                <td mat-cell *matCellDef="let element">
                                                    {{getCountryName(element.CountryID)}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="ST_CTY_ID">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
                                                <td mat-cell *matCellDef="let element">
                                                    {{getCityName(element.CityID)}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="actions">
                                                <th mat-header-cell *matHeaderCellDef>Actions</th>
                                                <td mat-cell *matCellDef="let element">
                                                    <i (click)="updateArea(element)" class="fa fa-edit" placement="left"
                                                        ngbTooltip="Edit"></i>
                                                    <i (click)="$event.stopPropagation()" class="fa fa-remove" mwlConfirmationPopover [popoverTitle]="'Confirm'"
                                                        [popoverMessage]="'are you sure to delete?'" placement="left"
                                                        (confirm)="deleteArea(element.ID)" ngbTooltip="Delete"></i>
                                                </td>
                                            </ng-container>
                                            <tr mat-header-row *matHeaderRowDef="areaTableColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: areaTableColumns;" (click)="updateArea(row)"
                                                class=" mat-row {{areaForm.ID===row.ID?'active':'not-active'}}"></tr>
                                        </table>
                                    </div>

                                    <mat-paginator #paginator3 [pageSizeOptions]="[10, 20, 30 ,40,50]"
                                        showFirstLastButtons></mat-paginator>

                                </div>

                                <div class="hr-line-dashed"></div>



                                <div class="col-md-12 extra-form" *ngIf="extraForm==='area'">
                                    <fieldset class="animated fadeInDown">
                                        <legend>
                                            Area
                                        </legend>
                                        <form #form="ngForm" (ngSubmit)="saveArea(form)" class="{{submit3?'submited':''}}">
                                            <div class="row">
                                                <div class="form-group col-md-3">
                                                    <label for="Name">Name <span class="help-block">*</span></label>
                                                    <input name="Name" placeholder="Name" type="text" class="form-control"
                                                        [(ngModel)]="areaForm.Name" required>
                                                    <!-- <span class="help-block" *ngIf="form.controls.Name&&form.controls.Name.invalid &&( form.controls.Name.touched|| form.controls.Name.dirty||form.submitted)">required</span> -->
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="Name2">Name 2</label>
                                                    <input name="Name2" placeholder="Name2" type="text" class="form-control"
                                                        [(ngModel)]="areaForm.Name2">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="CountryID">Country <span class="help-block">*</span></label>
                                                    <select name="CountryID" placeholder="Country" class="form-control"
                                                        [(ngModel)]="areaForm.CountryID" (change)="loadCities()"
                                                        required>
                                                        <option ngValue="">Select</option>
                                                        <option *ngFor="let country of countries" [ngValue]="country.ID">{{country.Name}}</option>

                                                    </select>
                                                    <!-- <span class="help-block" *ngIf="form.controls.ST_CNT_ID&&form.controls.ST_CNT_ID.invalid &&( form.controls.ST_CNT_ID.touched|| form.controls.ST_CNT_ID.dirty||form.submitted)">required</span> -->
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="CityID">City <span class="help-block">*</span></label>
                                                    <select name="CityID" placeholder="City" class="form-control"
                                                        [(ngModel)]="areaForm.CityID" [disabled]="!cities ||cities.length===0"
                                                        required>
                                                        <option ngValue="">Select</option>
                                                        <option *ngFor="let city of cities" [ngValue]="city.ID">{{city.Name}}</option>

                                                    </select>
                                                    <!-- <span class="help-block" *ngIf="form.controls.ST_CTY_ID&&form.controls.ST_CTY_ID.invalid &&( form.controls.ST_CTY_ID.touched|| form.controls.ST_CTY_ID.dirty||form.submitted)">required</span> -->
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="form-group col-md-3">
                                                    <label for="ReferenceNo">Reference No</label>
                                                    <input name="ReferenceNo" placeholder="Reference No" type="text"
                                                        class="form-control" [(ngModel)]="areaForm.ReferenceNo">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="LOC_STATUS">Status <span class="help-block">*</span></label>
                                                    <select name="LOC_STATUS" placeholder="Status" class="form-control"
                                                        [(ngModel)]="areaForm.Status" required>
                                                        <option [ngValue]="undefined">Select</option>

                                                    <option *ngFor="let status of LockUps" [ngValue]="status.ID">{{status.Name}}</option>
                                                    </select>
                                                    <!-- <span class="help-block" *ngIf="form.controls.Loc_Status&&form.controls.Loc_Status.invalid &&( form.controls.Loc_Status.touched|| form.controls.Loc_Status.dirty||form.submitted)">required</span> -->
                                                </div>
                                                <div class="col-md-5 text-right">
                                                    <br>
                                                    <br>
                                                    <input class="btn btn-default" type="reset" (click)="areaForm={};submit3=false;resetForm(form)"
                                                        value="Reset" />

                                                    <input class="btn btn-primary " type="submit" value="Save" (click)="submit3=true" />
                                                </div>
                                            </div>
                                        </form>
                                    </fieldset>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>


                </div>


            </div>
        </div>

    </div>
</div>